<div class="flex flex-col">
  <div class="flex flex-wrap justify-center w-full gap-3">
    <mat-form-field appearance="outline">
      <mat-label>Account Creation Code</mat-label>
      <input matInput #creationCodeInput [value]="dashboardInfo().creationCode" readonly />
      <button matSuffix mat-icon-button aria-label="Copy Creation Code" (click)="onCopyToClipboard(creationCodeInput.value)">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button matSuffix class="mr-3" mat-icon-button aria-label="Refresh Creation Code" (click)="onRefreshCreationCode()">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
