<div class="w-full flex flex-col gap-3">
  <mat-card class="card-border">
    <mat-card-header>
      <mat-card-title>Admin Settings</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="flex flex-wrap gap-3 pt-3">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>Account Creation Code</mat-label>
          <input matInput #creationCodeInput [value]="dashboardInfo().creationCode" readonly />
          <button matSuffix mat-icon-button aria-label="Copy Creation Code" (click)="onCopyToClipboard(creationCodeInput.value)" matTooltip="Copy">
            <mat-icon>content_copy</mat-icon>
          </button>
          <button matSuffix class="mr-3" mat-icon-button aria-label="Refresh Creation Code" (click)="onRefreshCreationCode()" matTooltip="Refresh">
            <mat-icon>refresh</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</div>
