<!--<div class="app-details-container" [ngStyle]="{ 'background-image': 'url(' + appDetails().backgroundUrl + ')' }">-->
<div class="app-details-container">
  <div class="flex flex-row gap-3 justify-between">
    <a mat-button routerLink="/steam-insight" aria-label="Back to steam game search">
      <mat-icon aria-hidden="true">arrow_back</mat-icon>
      Back to search
    </a>

    <a
      mat-button
      [href]="'https://store.steampowered.com/app/' + appDetails().appid"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Open Steam store page">
      <mat-icon aria-hidden="true">open_in_new</mat-icon>
      View on Steam
    </a>
  </div>

  <div class="header-card">
    <div class="text-content">
      <h2 class="text-2xl font-semibold break-words">
        {{ appDetails().name }}
      </h2>
      <p class="text-sm break-words">
        {{ appDetails().shortDescription | decodeHtml }}
      </p>
    </div>

    <img class="header-image" [src]="appDetails().headerImage" [alt]="appDetails().name" />
  </div>

  <div class="hz-card flex flex-col gap-3 w-full p-3">
    <div>
      <span class="font-medium">Categories</span>
      <mat-chip-set class="flex flex-row flex-wrap gap-1" aria-label="Game Categories">
        @for(category of appDetails().categories; track category) {
        <mat-chip>{{ category }}</mat-chip>
        }
      </mat-chip-set>
    </div>

    <div>
      <span class="font-medium">Genres</span>
      <mat-chip-set class="flex flex-row flex-wrap gap-1" aria-label="Game Genres">
        @for(genre of appDetails().genres; track genre) {
        <mat-chip>{{ genre }}</mat-chip>
        }
      </mat-chip-set>
    </div>
  </div>

  <mat-tab-group class="hz-card" mat-stretch-tabs="false" mat-align-tabs="start" dynamicHeight>
    <!-- DETAILS -->
    <mat-tab label="Details">
      <div class="flex flex-col p-3">
        <div class="display-text">
          <span>App ID</span>
          <span class="text-right">{{ appDetails().appid }}</span>
        </div>
        <div class="display-text">
          <span>Name</span>
          <span class="text-right">{{ appDetails().name }}</span>
        </div>
        <div class="display-text">
          <span>Type</span>
          <span class="text-right">{{ appDetails().type | titlecase }}</span>
        </div>
        @if(appDetails().type === 'dlc') {
        <div class="display-text">
          <span>Full Game</span>
          <span class="text-right">{{ appDetails().fullgame.name }}</span>
        </div>
        }
        <div class="display-text">
          <span>Release Date</span>
          <span class="text-right">{{ appDetails().releaseDate }}</span>
        </div>
        <div class="display-text">
          <span>Last Updated</span>
          <span class="text-right">{{ appDetails().lastModified | date : 'medium' }}</span>
        </div>
        <div class="display-text">
          <span>Website</span>
          <span class="text-right">
            @if (appDetails().website) {
            <a [href]="appDetails().website" target="_blank" rel="noopener noreferrer">
              {{ appDetails().website }}
            </a>
            } @else { — }
          </span>
        </div>
        <div class="display-text">
          <span>Developers</span>
          <span class="text-right">{{ appDetails().developers.join(', ') }}</span>
        </div>
        <div class="display-text">
          <span>Publishers</span>
          <span class="text-right">{{ appDetails().publishers.join(', ') }}</span>
        </div>
        <div class="display-text">
          <span>Support Email</span>
          <span class="text-right">{{ appDetails().supportEmail || '—' }}</span>
        </div>
        <div class="display-text">
          <span>Support URL</span>
          @if (appDetails().supportUrl) {
          <a class="text-right display-text-link" [href]="appDetails().supportUrl" target="_blank" rel="noopener noreferrer">
            {{ appDetails().supportUrl }}
          </a>
          } @else {
          <span class="text-right">—</span>
          }
        </div>
        <div class="display-text">
          <span>Legal Notice</span>
          <span class="text-right">{{ appDetails().legalNotice || '—' }}</span>
        </div>
        <div class="display-text">
          <span>Supported Languages</span>
          <span class="text-right" [innerHTML]="appDetails().supportedLanguages"></span>
        </div>
      </div>
    </mat-tab>

    <!-- ABOUT THE GAME -->
    <mat-tab label="About the game">
      <div class="p-3 overflow-auto text-sm break-words" [innerHTML]="appDetails().aboutTheGame"></div>
    </mat-tab>

    <!-- SYSTEM REQUIREMENTS -->
    <mat-tab label="System Requirements">
      <div class="flex flex-col p-3">
        <span>IN DEVELOPMENT</span>

        <!--
          // REQUIREMENTS
          pcMinimum: string;
          pcRecommended: string;
          macMinimum: string;
          macRecommended: string;
          linuxMinimum: string;
          linuxRecommended: string;

          // PLATFORMS
          supportsWindows: boolean;
          supportsMac: boolean;
          supportsLinux: boolean;-->
      </div>
    </mat-tab>

    <!-- COST -->
    @if(!appDetails().isFree) {
    <mat-tab label="Price">
      <div class="flex flex-col p-3">
        <div class="display-text">
          <span>Currency</span>
          <span class="text-right">{{ appDetails().currency }}</span>
        </div>
        <div class="display-text">
          <span>Initial Price</span>
          <span class="text-right">{{ appDetails().initialPrice }}</span>
        </div>
        <div class="display-text">
          <span>Final Price</span>
          <span class="text-right">{{ appDetails().finalPrice }}</span>
        </div>
        <div class="display-text">
          <span>Current Discount</span>
          <span class="text-right">{{ appDetails().discountPercent }}</span>
        </div>
        <div class="display-text">
          <span>Initial Formatted</span>
          <span class="text-right">{{ appDetails().initialFormatted }}</span>
        </div>
        <div class="display-text">
          <span>Final Formatted</span>
          <span class="text-right">{{ appDetails().finalFormatted }}</span>
        </div>
      </div>
    </mat-tab>
    }
  </mat-tab-group>

  <mat-tab-group class="hz-card" mat-stretch-tabs="false" mat-align-tabs="start" dynamicHeight>
    <!-- ACHIEVEMENTS -->
    <mat-tab label="Achievements">
      @if(appDetails().achievements) {
      <div class="flex flex-col p-3">
        <div>
          <mat-slide-toggle [(ngModel)]="showHiddenAchievements">Show All Hidden Achievements</mat-slide-toggle>
        </div>

        <table mat-table [dataSource]="achievementDataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
          </ng-container>

          <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef>Icon</th>
            <td mat-cell *matCellDef="let element">
              <div [class.blurred]="element.hidden === 1 && !showHiddenAchievements()">
                <img class="steam-achievement-img" [src]="element.icon" alt="Achievement Icon" />
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element" class="table-text">
              <span [class.blurred]="element.hidden === 1 && !showHiddenAchievements()">
                {{ element.displayName }}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element" class="table-text">
              <span [class.blurred]="element.hidden === 1 && !showHiddenAchievements()">
                {{ element.description || '— No description —' }}
              </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="achievementDisplayedColumns()"></tr>
          <tr mat-row class="table-row" *matRowDef="let row; columns: achievementDisplayedColumns()"></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[25, 50, 100]"
          [pageSize]="25"
          #achievementPaginator
          showFirstLastButtons
          aria-label="Achievement Paginator"></mat-paginator>
      </div>
      } @else {
      <div class="flex p-3">
        <span class="display-text-warning">This game has no achievements to display.</span>
      </div>
      }
    </mat-tab>

    <!-- DLC -->
    @if(appDetails().dlc){
    <mat-tab label="DLC">
      <div class="flex flex-col p-3">
        <span>IN DEVELOPMENT - appids: [{{ appDetails().dlc ? appDetails().dlc.join(', ') : '—' }}]</span>
      </div>
      <!--dlc: number[];-->
    </mat-tab>
    }

    <!-- PACKAGES -->
    <mat-tab label="Packages">
      <div class="flex flex-col p-3">
        <span class="display-text-warning">This game has no packages to display.</span>
        <!--
        packages: number[];
        packageGroups: {
          name: string;
          title: string;
          description: string;
          selection_text: string;
          save_text: string;
          display_type: number;
          is_recurring_subscription: string;
          subs: {
            packageid: number;
            percent_savings_text: string;
            percent_savings: number;
            option_text: string;
            option_description: string;
            can_get_free_license: string;
            is_free_license: boolean;
            price_in_cents_with_discount: number;
          }[];
            }[];
        -->
      </div>
    </mat-tab>

    <!-- MEDIA -->
    <mat-tab label="Media">
      <div class="flex flex-col p-3"></div>
      <!--screenshots: { id: number; path_thumbnail: string; path_full: string }[];
        movies: {
          id: number;
          name: string;
          thumbnail: string;
          video_urls: {
            webm_480: string;
            webm_max: string;
            mp4_480: string;
            mp4_max: string;
          };
          highlight: boolean;
        }[];-->
    </mat-tab>
  </mat-tab-group>
</div>
