<div class="link-container">
  <div class="flex flex-row">
    <a [href]="link().url" target="_blank" [attr.aria-label]="'Open ' + link().name + ' in a new tab'" class="link-button">
      <span class="link-icon-container">
        <img [src]="getFavicon(link().url, faviconStage())" (error)="onFaviconError(link().url)" alt="favicon" class="w-4 h-4" />
      </span>
      <span class="truncate">{{ link().name }}</span>
    </a>
    <button mat-icon-button class="link-icon" (click)="onToggleView()" aria-label="Toggle link information">
      <mat-icon>{{ isOpen() ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
    </button>
  </div>

  @if(isOpen()) {
  <div class="flex flex-col mt-1" @expand>
    <mat-chip-set>
      @for(tag of link().tags; track tag.id) {
      <mat-chip>{{ tag.name }}</mat-chip>
      }
    </mat-chip-set>
    <h3>{{ link().description }}</h3>
  </div>
  }
</div>
