.link-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.link-button {
  @apply gap-3 p-3 font-medium;

  width: 100%;
  display: inline-flex;
  align-items: center;

  background-color: var(--mat-sys-surface-container-low);
  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: var(--mat-sys-corner-extra-small);
}

.link-button:hover {
  background-color: var(--mat-sys-surface-container-high);
}

.link-button:active {
  background-color: var(--mat-sys-surface-container-highest);
}

.link-icon {
  @apply flex justify-center items-center ml-3;
}
