<div class="link-container">
  <div class="flex flex-row items-center justify-center">
    <a [href]="link().url" target="_blank" [attr.aria-label]="'Open ' + link().name + ' in a new tab'" class="link-button">
      @if(link().icon) {
      <img
        [src]="link().icon"
        fallbackSrc="/assets/icons/default-favicon.ico"
        alt="favicon"
        class="w-5 h-5 p-[2px] rounded-full"
        [ngClass]="{
          'icon-bg-contrast': (link().contrastBackground === 1 && isDarkTheme()) || (link().contrastBackground === 2 && !isDarkTheme())
        }" />
      } @else {
      <img src="assets/icons/default-favicon.ico" alt="favicon" class="w-4 h-4" />
      }
      <span class="w-full line-clamp-1">{{ link().name }}</span>
    </a>
    <button mat-icon-button class="link-icon" (click)="onToggleView()" aria-label="Toggle link information">
      <mat-icon class="icon-rotate-vertical" [class.open]="isOpen()">keyboard_arrow_down</mat-icon>
    </button>
  </div>

  @if(isOpen()) {
  <div class="flex flex-col mt-1" @expand>
    <mat-chip-set>
      @for(tag of link().tags; track tag.id) {
      <mat-chip>{{ tag.name }}</mat-chip>
      }
    </mat-chip-set>
    <h3 class="px-1">{{ link().description }}</h3>
  </div>
  }
</div>
