<div class="flex flex-col">
  @for(section of dashboardSections; track section.sectionTitle) {
  <div class="flex flex-col gap-3 justify-center">
    <span class="font-semibold text-2xl">{{ section.sectionTitle }}</span>
    <mat-divider></mat-divider>

    <div class="flex flex-row flex-wrap gap-3 justify-center">
      @for(tileConfig of section.tileConfigs; track tileConfig.id) {
      <hz-content-tile [contentTileConfig]="tileConfig"></hz-content-tile>
      }
    </div>
  </div>

  }
</div>
