<div class="steam-game-tile">
  <img [src]="steamGame().headerImage" [alt]="steamGame().name" class="steam-header-img" />
  <div class="flex flex-col p-3 gap-1">
    <h2 class="text-lg font-semibold truncate">{{ steamGame().name }}</h2>
    <p class="text-sm line-clamp-3">
      {{ steamGame().shortDescription }}
    </p>
    <mat-chip-set class="mt-1" aria-label="Game Genres">
      @for(category of steamGame().categories; track category) {
      <mat-chip>{{ category }}</mat-chip>
      }
    </mat-chip-set>
  </div>
</div>
