<div class="flex flex-col">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" dynamicHeight>
    <!-- LINKS -->
    <mat-tab label="Links" class="flex flex-col">
      <div class="flex justify-end mt-3">
        <button mat-button (click)="onCreateLink()" aria-label="Add Link">
          <mat-icon>add</mat-icon>
          Add Link
        </button>
      </div>

      @if(linkDataSource.data.length > 0) {
      <table mat-table [dataSource]="linkDataSource" matSort #linkSort="matSort" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">ID</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by category">Category</th>
          <td mat-cell *matCellDef="let element">{{ element.category?.name }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by description">Description</th>
          <td mat-cell *matCellDef="let element">{{ element.description }}</td>
        </ng-container>

        <ng-container matColumnDef="sortKey">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by sort key">Sort Key</th>
          <td mat-cell *matCellDef="let element">{{ element.sortKey }}</td>
        </ng-container>

        <ng-container matColumnDef="url">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by url">Url</th>
          <td mat-cell *matCellDef="let element">{{ element.url }}</td>
        </ng-container>

        <ng-container matColumnDef="tags">
          <th mat-header-cell *matHeaderCellDef>Tags</th>
          <td mat-cell *matCellDef="let element">
            <mat-chip-set>
              @for(tag of element.tags; track tag.id) {
              <mat-chip>{{ tag.name }}</mat-chip>
              }
            </mat-chip-set>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef aria-hidden="true"></th>
          <td mat-cell class="min-w-16" *matCellDef="let element">
            <div class="flex justify-end items-center">
              <button mat-icon-button (click)="onEditLink(element)" aria-label="Edit Link">
                <mat-icon matTooltip="Edit Link">edit</mat-icon>
              </button>
              <button mat-icon-button (click)="onDeleteLink(element)" aria-label="Delete Link">
                <mat-icon matTooltip="Delete Link">delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="linkDisplayedColumns"></tr>
        <tr mat-row class="table-row" *matRowDef="let row; columns: linkDisplayedColumns"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[25, 50, 100]" #linkPaginator showFirstLastButtons aria-label="Link Paginator"></mat-paginator>
      } @else {
      <hz-message-card message="No links found"></hz-message-card>
      }
    </mat-tab>

    <!-- CATEGORIES -->
    <mat-tab label="Categories" class="flex flex-col">
      <!-- CATEGORY FILTER -->
      <div class="link-category-filter-container">
        <mat-form-field class="page-search" subscriptSizing="dynamic">
          <mat-label>Filter Categories</mat-label>
          <input
            matInput
            #categoryFilterInput
            [(ngModel)]="categoryFilter"
            maxlength="1024"
            aria-label="Link Category Filter"
            (keydown.enter)="categoryFilterInput.blur()" />
          @if(categoryFilterInput.value && categoryFilterInput.value !== '') {
          <button class="mr-3" matSuffix mat-icon-button type="button" aria-label="Clear" (click)="onResetCategoryFilter()">
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>

        <button mat-button type="button" aria-label="Add Category" (click)="onCreateCategory()">
          <mat-icon>add</mat-icon>
          Add New Category
        </button>
      </div>

      <!-- CATEGORY DISPLAY -->
      <div class="link-category-container">
        @for(category of filteredLinkCategories(); track category.id) {
        <div class="link-category">
          <div class="flex flex-col gap-1">
            <span>{{ category.name }}</span>
            <span class="text-xs line-clamp-3">{{ category.description }}</span>
          </div>

          <div class="link-category-actions">
            <button
              class="icon-button"
              mat-icon-button
              type="button"
              [attr.aria-label]="'Edit ' + category.name + ' Category'"
              (click)="onEditCategory(category)">
              <mat-icon>edit</mat-icon>
            </button>
            @if(!category.inUse) {
            <button
              class="icon-button"
              mat-icon-button
              type="button"
              [attr.aria-label]="'Remove ' + category.name + ' Category'"
              (click)="onDeleteCategory(category)">
              <mat-icon>delete</mat-icon>
            </button>
            }
          </div>
        </div>
        }
      </div>
    </mat-tab>

    <!-- TAGS -->
    <mat-tab label="Tags" class="flex flex-col">
      <!-- TAG FILTER -->
      <div class="link-tag-filter-container">
        <mat-form-field class="page-search" subscriptSizing="dynamic">
          <mat-label>Filter Tags</mat-label>
          <input
            matInput
            #tagFilterInput
            [(ngModel)]="tagFilter"
            maxlength="1024"
            aria-label="Link Tag Filter"
            (keydown.enter)="tagFilterInput.blur()" />
          @if(tagFilterInput.value && tagFilterInput.value !== '') {
          <button class="mr-3" matSuffix mat-icon-button type="button" aria-label="Clear" (click)="onResetTagFilter()">
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>

        <button mat-button type="button" aria-label="Add Tag" (click)="onCreateTag()">
          <mat-icon>add</mat-icon>
          Add New Tag
        </button>
      </div>

      <!-- TAG DISPLAY -->
      <div class="link-tag-container">
        @for(tag of filteredLinkTags(); track tag.id) {
        <div class="link-tag">
          <span>{{ tag.name }}</span>
          <div class="link-tag-actions">
            <button
              class="icon-button"
              mat-icon-button
              type="button"
              [attr.aria-label]="'Edit ' + tag.name + ' Tag'"
              (click)="onEditTag(tag)">
              <mat-icon>edit</mat-icon>
            </button>
            @if(!tag.inUse) {
            <button
              class="icon-button"
              mat-icon-button
              type="button"
              [attr.aria-label]="'Remove ' + tag.name + ' Tag'"
              (click)="onDeleteTag(tag)">
              <mat-icon>delete</mat-icon>
            </button>
            }
          </div>
        </div>
        }
      </div>
    </mat-tab>

    <mat-tab label="Import & Export" class="flex flex-col">
      <div class="flex flex-row gap-3 py-3">
        <button mat-flat-button (click)="onExportLinkLibrary()">
          <mat-icon>download</mat-icon>
          Export Library
        </button>
        @if(hasImportLibraryRight()) {
        <button mat-flat-button (click)="onImportLinkLibrary()">
          <mat-icon>upload</mat-icon>
          Import Library
        </button>
        }
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
