:host {
  width: 100%;
  padding: 0.75rem;
}

// *** SEARCH FILTER ***
.filter-container {
  @apply px-3 pt-3 gap-3;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.search-form-field {
  @apply max-w-96 sm:max-w-lg md:max-w-xl lg:max-w-3xl xl:max-w-4xl;

  width: 100%;
}

.clear-icon-button {
  @apply mr-3;
}

// *** LINKS ***
.link-category-drag-container {
  @apply gap-3 p-3;

  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.link-category-title {
  @apply font-medium;

  color: var(--mat-sys-primary);
}

.link-category-icon {
  color: var(--mat-sys-primary);
}

.link-drag-container {
  @apply max-w-96 p-3 gap-3;

  width: 100%;
  display: flex;
  flex-direction: column;

  //border: 1px solid var(--mat-sys-outline-variant);
  border-radius: var(--mat-sys-corner-extra-small);
}

.link-container {
  @apply gap-3;

  width: 100%;
  display: flex;
  flex-direction: column;
}

.link-tile {
  @apply font-medium px-3 py-1 gap-3;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  break-inside: avoid;
  cursor: grab;

  background-color: var(--mat-sys-surface-container-low);
  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: var(--mat-sys-corner-extra-small);
}

.link-tile:hover {
  background-color: var(--mat-sys-surface-container-high);
}

.link-tile:active {
  background-color: var(--mat-sys-surface-container-highest);
}

.link-tile-filtered {
  background-color: var(--mat-sys-surface-container-high);
  border: 1px solid var(--mat-sys-primary);
}

.link-tile:active {
  cursor: grabbing;
}

.link-actions {
  display: flex;
  align-items: center;
}

// *** CATEGORIES ***
.link-category-filter-container {
  @apply px-3 pt-3 gap-3;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.link-category-container {
  @apply gap-3 p-3;

  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.link-category {
  @apply font-medium max-w-72 p-3 gap-3;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  break-inside: avoid;

  background-color: var(--mat-sys-surface-container-low);
  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: var(--mat-sys-corner-extra-small);
}

.link-category:hover {
  background-color: var(--mat-sys-surface-container-high);
}

.link-category-actions {
  display: flex;
  align-items: center;
}

// *** TAGS ***
.link-tag-filter-container {
  @apply px-3 pt-3 gap-3;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.link-tag-container {
  @apply gap-3 p-3;

  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.link-tag {
  @apply font-medium max-w-72 p-3 gap-3;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  break-inside: avoid;

  background-color: var(--mat-sys-surface-container-low);
  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: var(--mat-sys-corner-extra-small);
}

.link-tag:hover {
  background-color: var(--mat-sys-surface-container-high);
}

.link-tag-actions {
  display: flex;
  align-items: center;
}

// *** IMPORT & EXPORT ***
.import-export-container {
  @apply py-3 gap-3;

  display: flex;
  flex-direction: row;
}
