@use '@angular/material' as mat;
@include mat.core();

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@import 'themes';

:root {
  --gradient3: radial-gradient(circle at top center, rgba(46, 46, 46, 1) 0%, rgb(16, 15, 15) 80%);
}

// *** LIGHT THEME ***
.light-theme {
  background: map-get($custom-light-special-palette, bgColor);

  .left-nav-container {
    background: map-get($custom-light-special-palette, leftnavColor);
  }

  .nav-item-active {
    border: 2px solid map-get($custom-light-special-palette, activeColor);
    border-radius: 2px;
  }

  .nav-item:hover {
    background-color: #eaeaea;
  }
}

// *** DARK THEME ***
.dark-theme {
  @include mat.all-component-colors($custom-dark-theme);

  background: map-get($custom-dark-special-palette, bgColor);

  .left-nav-container {
    background: map-get($custom-dark-special-palette, leftnavColor);
  }

  .nav-item-active {
    border: 2px solid map-get($custom-dark-special-palette, activeColor);
    border-radius: 2px;
  }

  .nav-item:hover {
    background-color: #5a5656;
  }
}

// *** CONTAINER CSS ***
.panel_container {
  @apply w-full drop-shadow-lg rounded-lg;
}
