@use '@angular/material' as mat;

@use './app/themes/hz-theme.scss';
@use './app/themes/hz-theme-3.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

/** THEMEING */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--mat-sys-outline-variant) var(--mat-sys-surface-container);

  @include mat.theme(
    (
      //color: mat.$violet-palette,
      color: hz-theme-3.$primary-palette,
      typography: Roboto,
      density: 0
    )
  );
}

.dark-theme {
  @include mat.theme(
    (
      color: (
        //primary: mat.$violet-palette,
        primary: hz-theme-3.$primary-palette,
        theme-type: dark,
      ),
    )
  );
}

body {
  color: var(--mat-sys-on-surface);
  background: var(--mat-sys-surface-container-lowest);
  font: var(--mat-sys-body-medium);
  color-scheme: light;

  margin: 0;

  // Mat Table
  @include mat.table-overrides(
    (
      background-color: transparent,
    )
  );

  // Mat Paginator
  @include mat.paginator-overrides(
    (
      container-background-color: transparent,
    )
  );
}

// *** MATERIAL OVERRIDES ***
.mdc-notched-outline__notch {
  border-right: none !important;
}

// MAT FLAT BUTTON
.mat-mdc-unelevated-button,
.mat-mdc-unelevated-button .mdc-button__ripple {
  border-radius: 0.5rem !important;
}

// MAT BUTTON
.mat-mdc-button,
.mat-mdc-button .mdc-button__ripple {
  border-radius: 0.5rem !important;
}

// MAT STROKED BUTTON
.mat-mdc-outlined-button,
.mat-mdc-outlined-button .mdc-button__ripple {
  border-radius: 0.5rem !important;
}

// *** ICONS ***
.icon-rotate-flip {
  transition: transform 0.3s ease;
}

.icon-rotate-flip.open {
  transform: rotate(180deg);
}

.icon-bg-contrast {
  background-color: var(--mat-sys-on-surface);
}

// *** CARDS ***
.hz-card-legacy {
  background-color: var(--mat-sys-surface-container-low) !important;
  border: 1px solid var(--mat-sys-outline-variant) !important;
  border-radius: var(--mat-sys-corner-small) !important;
}

// *** DIALOG ***
.hz-dialog-container {
  background-color: var(--mat-sys-surface-container-low);
  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: var(--mat-sys-corner-small);

  @include mat.dialog-overrides(
    (
      container-color: none,
    )
  );
}

.dialog-title {
  font: var(--mat-sys-title-large);

  text-align: left;
}

.dialog-message {
  font: var(--mat-sys-body-medium);

  text-align: center;
}

// *** SEARCH INPUT ***
.page-search {
  @apply flex w-full max-w-96 sm:max-w-lg md:max-w-xl lg:max-w-3xl xl:max-w-4xl;
}

.page-banner {
  @apply flex w-full max-w-96 sm:max-w-lg md:max-w-xl lg:max-w-3xl xl:max-w-4xl;
}

// *** TABLE ***
.table-row:hover {
  background: var(--mat-sys-surface-container-high);
}

.table-row-clickable:hover {
  background: var(--mat-sys-surface-container-high);
  cursor: pointer;
}

.table-row-clickable:active {
  background: var(--mat-sys-surface-container-highest);
}

// *** SPINNER ***
.progress-spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.progress-spinner-text {
  text-align: center;
}

// *** CDK DRAG AND DROP ***
.cdk-drag-preview {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-list.cdk-drop-list-dragging .drag-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// *** STEAM HTML CSS ***
.game_area_description {
  line-height: 1.5em;
  font-size: 14px;
  margin-top: 30px;
  overflow: hidden;
  width: 616px;
  max-width: 100%;
  font-family: 'Motiva Sans', Sans-serif;
  font-weight: normal;
}

.bb_tag {
  margin-top: 18px;
  margin-bottom: 0px;
  background-image: none;
  font-size: 15px;
  color: #2f89bc;
  text-transform: none;
  letter-spacing: 0px;
}

.bb_tag strong {
  font-family: 'Motiva Sans', Sans-serif;
  font-weight: 500;
}

.bb_img {
  clip-path: inset(0);
}

.bb_paragraph {
  min-height: 0.15em;
  line-height: 1.5em;
  margin: 0.5em 0;
}
