// *** Light Theme ***
$custom-primary-light-palette: (
  50: #e0d3eb,
  100: #c2a9d7,
  200: #a57fc2,
  300: #8954ad,
  400: #7636a0,
  500: #632793,
  600: #591f85,
  700: #4e1878,
  800: #43106a,
  900: #340854,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  ),
);

$custom-accent-light-palette: (
  50: #ddd0e9,
  100: #ba9ed3,
  200: #987dbe,
  300: #775ca9,
  400: #66419c,
  500: #552690,
  600: #4d2382,
  700: #451f74,
  800: #3c1a66,
  900: #2b1252,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  ),
);

$custom-light-special-palette: (
  bgColor: #e0e0e0,
  leftnavColor: #f5f5f5,
  activeColor: #ba9ed3,
);

$custom-light-primary: mat.define-palette($custom-primary-light-palette);
$custom-light-accent: mat.define-palette($custom-accent-light-palette);
$custom-light-warn: mat.define-palette(mat.$red-palette);

$custom-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $custom-light-primary,
      accent: $custom-light-accent,
      warn: $custom-light-warn,
    ),
  )
);

// *** Dark Theme ***
$custom-primary-dark-palette: (
  50: #e1e1e1,
  100: #b3b3b3,
  200: #8c8c8c,
  300: #666666,
  400: #555555,
  500: #444444,
  600: #333333,
  700: #2c2c2c,
  800: #252525,
  900: #1e1e1e,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  ),
);

$custom-accent-dark-palette: (
  50: #f3e5f5,
  100: #e1bee7,
  200: #ce93d8,
  300: #ba68c8,
  400: #ab47bc,
  500: #9c27b0,
  600: #8e24aa,
  700: #7b1fa2,
  800: #6a1b9a,
  900: #4a148c,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  ),
);

$custom-dark-special-palette: (
  bgColor: #1e1e1e,
  leftnavColor: #2c2c2c,
  activeColor: #444444,
);

$custom-dark-primary: mat.define-palette($custom-primary-dark-palette);
$custom-dark-accent: mat.define-palette($custom-accent-dark-palette);
$custom-dark-warn: mat.define-palette(mat.$red-palette);

$custom-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $custom-dark-primary,
      accent: $custom-dark-accent,
      warn: $custom-dark-warn,
    ),
  )
);

//  *** SETUP THEMES ***
@include mat.all-component-themes($custom-light-theme);
