<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" dynamicHeight>
  <mat-tab label="Sign In">
    <mat-dialog-content>
      <form class="flex flex-col gap-3" [formGroup]="loginForm">
        <mat-form-field class="w-full" hideRequiredMarker>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" cdkFocusInitial />
          <mat-error>{{ loginForm.get('username')?.errors | validatorMessage }}</mat-error>
        </mat-form-field>

        <mat-form-field class="w-full" hideRequiredMarker>
          <mat-label>Password</mat-label>
          <input
            [type]="showPassword() ? 'text' : 'password'"
            matInput
            formControlName="password"
            autocomplete="on"
            (keydown.enter)="onLogin()" />
          <button
            matSuffix
            matIconButton
            aria-label="Toggle Password Visible"
            tabindex="-1"
            (mouseover)="onShowPassword()"
            (mouseleave)="onHidePassword()"
            disableRipple>
             <mat-icon fontSet="material-symbols-outlined">{{ showPassword() ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
          <mat-error>{{ loginForm.get('password')?.errors | validatorMessage }}</mat-error>
        </mat-form-field>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button (click)="onCancel()">Cancel</button>
      <button matButton="filled" (click)="onLogin()" [disabled]="!loginForm.valid">Sign In</button>
    </mat-dialog-actions>
  </mat-tab>

  <mat-tab label="Sign Up">
    <mat-dialog-content>
      <form class="flex flex-col gap-3" [formGroup]="newAccountForm">
        <mat-form-field class="w-full">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" cdkFocusInitial />
          <mat-error>{{ newAccountForm.get('name')?.errors | validatorMessage }}</mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" />
          <mat-error>{{ newAccountForm.get('username')?.errors | validatorMessage }}</mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Password</mat-label>
          <input
            [type]="showPassword() ? 'text' : 'password'"
            matInput
            formControlName="password"
            autocomplete="on"
            [errorStateMatcher]="passwordMatcher" />
          <button
            matSuffix
            matIconButton
            aria-label="Toggle Password Visible"
            tabindex="-1"
            (mouseover)="onShowPassword()"
            (mouseleave)="onHidePassword()"
            disableRipple>
             <mat-icon fontSet="material-symbols-outlined">{{ showPassword() ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
          <mat-error>
            {{ newAccountForm.get('password')?.errors | validatorMessage : { default: 'Passwords do not match' } }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Confirm Password</mat-label>
          <input
            [type]="showConfirmPassword() ? 'text' : 'password'"
            matInput
            formControlName="confirmPassword"
            autocomplete="on"
            [errorStateMatcher]="passwordMatcher" />
          <button
            matSuffix
            matIconButton
            aria-label="Toggle Confirm Password Visible"
            tabindex="-1"
            (mouseover)="onShowConfirmPassword()"
            (mouseleave)="onHideConfirmPassword()"
            disableRipple>
             <mat-icon fontSet="material-symbols-outlined">{{ showConfirmPassword() ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
          <mat-error>
            {{ newAccountForm.get('confirmPassword')?.errors | validatorMessage : { default: 'Passwords do not match' } }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Creation Code</mat-label>
          <input matInput formControlName="creationCode" uppercase (keydown.enter)="onCreateAccount()" />
          <button
            matSuffix
            matIconButton
            aria-label="Creation Code Info"
            matTooltip="Code required to create an account, provided by an Admin"
            disableRipple>
             <mat-icon fontSet="material-symbols-outlined">info</mat-icon>
          </button>
          <mat-error>
            {{ newAccountForm.get('creationCode')?.errors | validatorMessage : { pattern: 'Your creation code must be 12 characters' } }}
          </mat-error>
        </mat-form-field>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button (click)="onCancel()">Cancel</button>
      <button matButton="filled" (click)="onCreateAccount()" [disabled]="!newAccountForm.valid">Create Account</button>
    </mat-dialog-actions>
  </mat-tab>
</mat-tab-group>
