:host {
  width: 100%;
  padding: 0.75rem;
}

/** TEXT INPUT */
.text-input-tile {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

/** RESULTS DISPLAY */
.text-analyzer-results-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  gap: 0.75rem;
}

.text-analyzer-results-card {
  flex: 1 1 0%;
  min-width: 16rem;
}

.text-analyzer-display-text-container {
  @apply space-y-1 text-sm;

  display: flex;
  flex-direction: column;
  padding-top: 0.75rem;
}

.display-text {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;

  background-color: none;
  border-bottom: 1px solid var(--mat-sys-outline);
  border-top-left-radius: var(--mat-sys-corner-extra-small);
  border-top-right-radius: var(--mat-sys-corner-extra-small);
}

.display-text:hover {
  background-color: var(--mat-sys-surface-container-high);
}

table {
  width: 100%;
  table-layout: fixed;
}

td {
  word-break: break-word;
  white-space: normal;
}
