<div class="flex flex-wrap gap-3 justify-center">
  <mat-card class="dashboard-card" appearance="outlined" routerLink="/link-library" aria-label="Navigate to Link Library">
    <mat-card-header>
      <mat-card-title>Link Library</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Library of Useful Links</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard-card" appearance="outlined" routerLink="/book-library" aria-label="Navigate to Book Library">
    <mat-card-header>
      <mat-card-title>Book Library</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Library of Good Books</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard-card" appearance="outlined" routerLink="/base-converter" aria-label="Navigate to Base Converter">
    <mat-card-header>
      <mat-card-title>Base Converter</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Tool to convert between number bases</p>
    </mat-card-content>
  </mat-card>
</div>
