<div class="flex flex-wrap gap-3 justify-center">
  <mat-card class="dashboard-card" appearance="outlined" routerLink="/link-library">
    <mat-card-header>
      <mat-card-title>Link Library</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Library of Useful Links</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard-card" appearance="outlined" routerLink="/book-library">
    <mat-card-header>
      <mat-card-title>Book Library</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Library of Good Books</p>
    </mat-card-content>
  </mat-card>
</div>
