<div class="flex flex-col">
  <hz-banner type="warning">
    <hz-banner-header>This page is still under development and may not function correctly</hz-banner-header>
  </hz-banner>

  <div class="flex flex-row justify-end gap-3 py-3">
    <button mat-mini-fab (click)="onCreateBoard()" matTooltip="Create New Board" aria-label="Create new pathfinder board">
       <mat-icon fontSet="material-symbols-outlined">add</mat-icon>
    </button>
    <button mat-mini-fab (click)="onSave()" matTooltip="Save Pathfinder Board" aria-label="Save pathfinder board">
       <mat-icon fontSet="material-symbols-outlined">save</mat-icon>
    </button>
    <button mat-mini-fab (click)="onLoad()" matTooltip="Load Pathfinder Board" aria-label="Load pathfinder board">
       <mat-icon fontSet="material-symbols-outlined">upload_file</mat-icon>
    </button>
  </div>

  @if(hasBoard()) {
  <div class="grid-container" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)" (touchend)="onTouchEnd($event)">
    <div
      class="grid"
      (wheel)="onScroll($event)"
      [style.--pathfinder-tile-size]="tileSize() + 'px'"
      [style.--pathfinder-columns]="boardCols()"
      [style.--pathfinder-rows]="boardRows()">
      @for(row of board(); track $index) { @for(tile of row; track columnTrack(tile)) {
      <hz-pathfinder-tile [tile]="tile"></hz-pathfinder-tile>
      } }
    </div>
  </div>
  } @else {

  <hz-banner>
    <hz-banner-body>No board found. Please create a board</hz-banner-body>
  </hz-banner>
  }
</div>
