<mat-dialog-content>
  <div class="flex flex-col gap-3">
    <h2 class="dialog-title">Modify Conversions</h2>
    <form class="flex flex-col gap-3 py-1" [formGroup]="conversionForm">
      <mat-form-field class="w-full" subscriptSizing="dynamic">
        <mat-label>Conversions</mat-label>
        <mat-select multiple formControlName="conversions">
          @for (base of defaultBases; track base) {
          <mat-option [value]="base">Base {{ base }}{{ baseNames[base] ? ' (' + baseNames[base] + ')' : '' }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button (click)="onConfirm()" [disabled]="!conversionForm.valid || !conversionForm.dirty">Update Conversions</button>
</mat-dialog-actions>
