<div class="hz-image-view-dialog">
  <img
    class="image-view-dialog-img"
    [src]="currentImage() | secureUrl"
    [alt]="context() + ' - image ' + (pageIndex() + 1)"
    draggable="false" />

  <div class="flex flex-row items-center">
    <mat-paginator
      [pageIndex]="pageIndex()"
      [length]="pageLength()"
      [pageSize]="1"
      (page)="onPageChange($event)"
      showFirstLastButtons
      hidePageSize
      aria-label="Steam Insight App Search Paginator">
    </mat-paginator>
    <button matIconButton aria-label="Close" matTooltip="Close" matTooltipPosition="above" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
