.hz-image-view-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: var(--mat-sys-corner-small);
}

.image-view-dialog-img {
  max-width: 100%;
  max-height: calc(90vh - 56px);

  object-fit: contain;
}
