.hz-image-view-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: var(--mat-sys-corner-small);
}

.image-view-close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}

.image-view-dialog-img {
  object-fit: cover;
  overflow: hidden;
}
