<div class="flex flex-col justify-start gap-1">
  @for(navSection of navSections; track navSection.title) { 
  
  @if(showSection(navSection)) {
    @if(navSection.title) {
      <mat-divider class="nav-divider"></mat-divider>
      <h3 class="nav-section-header">{{ navSection.title }}</h3>
    }

    @for(navItem of navSection.navItems; track navItem.name) {
      @if(!navItem.requiredRights|| (navItem.requiredRights && hasRights(navItem.requiredRights))) {
      <a [routerLink]="navItem.routerLink" class="nav-item" routerLinkActive="active">
        <mat-icon>{{ navItem.icon }}</mat-icon> {{ navItem.name }}
      </a>
      }
    }
  }
}
</div>
