<div>
  <mat-toolbar class="header-toolbar" color="primary">
    <button mat-icon-button color="basic" class="header-icon" (click)="onToggleLeftNav()">
      <mat-icon>menu</mat-icon>
    </button>

    <a [routerLink]="['/dashboard']" class="header-toolbar-text">Horizon</a>

    <span class="w-full"></span>

    @if(!isSmallScreen()) {
    <button
      mat-icon-button
      class="header-icon"
      (click)="onToggleTheme()"
      [matTooltip]="isDarkmode() ? 'Enable light mode' : 'Enable dark mode'">
      <mat-icon>{{ isDarkmode() ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>

    <button mat-icon-button class="header-icon" (click)="onLogState()" [matTooltip]="isLoggedIn() ? 'Logout' : 'Login'">
      <mat-icon>{{ isLoggedIn() ? 'logout' : 'account_circle' }}</mat-icon>
    </button>
    } @else {
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>Account</span>
      </button>

      <button mat-menu-item (click)="onToggleTheme()">
        <mat-icon>{{ isDarkmode() ? 'light_mode' : 'dark_mode' }}</mat-icon>
        <span>{{ isDarkmode() ? 'Enable light mode' : 'Enable dark mode' }}</span>
      </button>

      <button mat-menu-item (click)="onLogState()">
        <mat-icon>{{ isLoggedIn() ? 'logout' : 'login' }}</mat-icon>
        <span>{{ isLoggedIn() ? 'Logout' : 'Login' }}</span>
      </button>
    </mat-menu>
    }
  </mat-toolbar>

  <mat-drawer-container class="app-content overflow-auto">
    <mat-drawer
      [opened]="isLeftNavOpen()"
      [mode]="isSmallScreen() ? 'over' : 'side'"
      class="left-nav-container"
      (closed)="onCloseLeftNav()">
      <app-left-nav></app-left-nav>
    </mat-drawer>
    <mat-drawer-content class="w-full flex flex-grow">
      <div class="w-full p-3">
        <router-outlet />
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
