<div cdkScrollable class="left-nav-container">
  @for(navSection of navSections; track navSection.title; let index = $index) { 
  @if(showSection(navSection)) {
  <!-- DIVIDER -->
  @if(index > 0) {
  <mat-divider class="left-nav-section-divider"></mat-divider>
  }
  <!-- HEADER -->
  @if(navSection.title) {
  <h3 class="left-nav-section-header">{{ navSection.title }}</h3>
  }
  <!-- NAV ITEMS -->
  @for(navItem of navSection.navItems; track navItem.name) { @if(!navItem.requiredRights || hasRights(navItem.requiredRights)) {
  <a matRipple [routerLink]="navItem.routerLink" class="left-nav-item" routerLinkActive="active" tabindex="0">
    <!-- NAV ICON -->
    @if(navItem.svgIcon) {
    <mat-icon [svgIcon]="navItem.svgIcon"></mat-icon>
    } @else {
    <mat-icon>{{ navItem.icon }}</mat-icon>
    }
    {{ navItem.name }}
  </a>
  } } } }
</div>
