<mat-dialog-content>
  <div class="flex flex-col gap-3">
    <h2 class="dialog-title">{{ this.data.type === 'create' ? 'Create New Tag' : 'Edit Tag' }}</h2>
    <mat-divider></mat-divider>
    <form class="flex flex-col gap-3 py-1" [formGroup]="tagForm">
      <mat-form-field class="w-full" cdkFocusInitial>
        <mat-label>Tag Name</mat-label>
        <input matInput formControlName="name" (keydown.enter)="onConfirm()" />
        <mat-error>{{ tagForm.get('name')?.errors | validatorMessage : { unique: 'This tag already exists' } }}</mat-error>
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button (click)="onConfirm()" [disabled]="!tagForm.valid || !tagForm.dirty">
    {{ this.data.type === 'create' ? 'Create' : 'Update' }}
  </button>
</mat-dialog-actions>
