<div class="flex flex-col gap-3">
  <div class="flex flex-col gap-3">
    <div class="flex flex-col justify-center items-center gap-3">
      <!-- SEARCH INPUT -->
      <mat-form-field class="page-search" subscriptSizing="dynamic">
        <mat-label>Search Steam Games</mat-label>
        <input
          matInput
          #steamGameSearchInput
          [(ngModel)]="steamGameSearch"
          maxlength="1024"
          aria-label="Link library search"
          (keydown.enter)="steamGameSearchInput.blur(); onSearch()" />
        <button matSuffix mat-icon-button aria-label="Search" (click)="steamGameSearchInput.blur(); onSearch()">
          <mat-icon>search</mat-icon>
        </button>
        @if(steamGameSearchInput.value && steamGameSearchInput.value !== '') {
        <button matSuffix class="mr-3" mat-icon-button aria-label="Clear" (click)="onResetFilter()">
          <mat-icon>close</mat-icon>
        </button>
        }
        <mat-error>Invalid Search Filter</mat-error>
      </mat-form-field>

      <!-- SEARCH HISTORY CHIPS -->
      <mat-chip-set aria-label="Search History">
        <div class="w-full flex flex-row flex-wrap items-center justify-center">
          @for(app of searchHistory(); track app) {
          <mat-chip [routerLink]="['/steam-insight', app.appid]" class="!cursor-pointer" [matTooltip]="app.name">
            <span class="search-history-chip !cursor-pointer">{{ app.name }}</span>

            <button matChipRemove (click)="onRemoveAppFromHistory(app); $event.stopPropagation()" [attr.aria-label]="'Remove ' + app.name">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          }
        </div>
      </mat-chip-set>
    </div>
  </div>

  <!-- STEAM GAME TILES -->
  <div class="flex flex-col justify-center items-center">
    <div class="flex flex-wrap w-full gap-3 justify-center">
      @for(steamGame of steamGames(); track steamGame.appid) {
      <hz-steam-game-tile [steamGame]="steamGame" (selectedApp)="onSelectApp($event)"></hz-steam-game-tile>
      }
    </div>
    <mat-paginator
      #steamGamePaginator
      hidePageSize
      [length]="pageLength()"
      [pageSize]="20"
      showFirstLastButtons
      (page)="onSetPage()"
      [pageIndex]="pageIndex()"></mat-paginator>
  </div>
</div>
