<div class="search-container">
  <div class="search-input-container">
    <!-- SEARCH INPUT -->
    <form class="w-full flex justify-center" [formGroup]="searchForm">
      <mat-form-field class="page-search" subscriptSizing="dynamic">
        <mat-label>Search Steam Games</mat-label>
        <input
          matInput
          #steamGameSearchInput
          formControlName="query"
          maxlength="1024"
          aria-label="Steam game search"
          (keydown.enter)="$event.preventDefault()" />

        <!-- CLEAR ICON -->
        @if(searchForm.get('query')!.value) {
        <button matSuffix class="mr-3" matIconButton aria-label="Clear search" type="button" (click)="onResetFilter()">
          <mat-icon>close</mat-icon>
        </button>
        }

        <mat-error>Invalid Search Filter</mat-error>
      </mat-form-field>
    </form>

    <!-- SEARCH HISTORY CHIPS -->
    <hz-chip-set>
      @for(app of steamGameHistory(); track app.appid) {
      <hz-chip clickable closeable [routerLink]="['/steam-insight', app.appid]" (closed)="onRemoveAppFromHistory(app)">
        {{ app.name }}
      </hz-chip>
      }
    </hz-chip-set>
  </div>

  @let games = steamGames();
  <!-- LOAD SUCCESS -->
  @if(games && loadingState.isSuccess()) {

  <!-- STEAM APPS TO DISPLAY -->
  @if(games.length > 0) {
  <div class="game-container">
    <div class="game-tile-container">
      @for(steamGame of games; track steamGame.appid) {
      <hz-steam-game-tile [steamGame]="steamGame"></hz-steam-game-tile>
      }
    </div>

    <mat-paginator
      #steamGamePaginator
      hidePageSize
      [length]="pageLength()"
      [pageSize]="20"
      showFirstLastButtons
      (page)="onSetPage()"
      [pageIndex]="pageIndex()">
    </mat-paginator>
  </div>
  }

  <!-- NO RESULTS -->
  @else {
  <hz-banner type="warning">
    <hz-banner-header>No games found</hz-banner-header>
    <hz-banner-body> No games matched your search. Try different keywords or check back later. </hz-banner-body>
  </hz-banner>
  } }

  <!-- LOAD IN-PROGRESS -->
  @else if (loadingState.isLoading()) {
  <hz-loading-spinner text="Loading Steam Insight Games..."></hz-loading-spinner>
  }

  <!-- LOAD FAILURE -->
  @else if (loadingState.isFailed()) {
  <hz-banner type="error">
    <hz-banner-header>{{ loadingState.errorMessage()?.header }}</hz-banner-header>
    <hz-banner-body>{{ loadingState.errorMessage()?.body }}</hz-banner-body>
  </hz-banner>
  }
</div>
