<div class="flex flex-col gap-3">
  <div class="flex flex-col gap-3">
    <div class="flex flex-row flex-wrap justify-center items-center gap-3">
      <mat-form-field class="page-search" subscriptSizing="dynamic">
        <mat-label>Search Steam Games</mat-label>
        <input
          matInput
          #steamGameSearchInput
          [(ngModel)]="steamGameSearch"
          maxlength="1024"
          aria-label="Link library search"
          (keydown.enter)="steamGameSearchInput.blur(); autocompleteTrigger.closePanel(); onSearch()"
          #autocompleteTrigger="matAutocompleteTrigger"
          [matAutocomplete]="steamInsightSearchAutocomplete" />
        <mat-autocomplete #steamInsightSearchAutocomplete="matAutocomplete" (optionSelected)="onSearch()">
          @for (search of searchHistory(); track search) {
          <mat-option [value]="search | titlecase" (onSelectionChange)="onSearch()">{{ search | titlecase }}</mat-option>
          }
        </mat-autocomplete>
        <mat-error>Invalid Search Filter</mat-error>
      </mat-form-field>

      <button mat-icon-button class="icon-button" matTooltip="Search" (click)="onSearch()"><mat-icon>search</mat-icon></button>
      <button mat-icon-button class="icon-button" matTooltip="Clear" (click)="onResetFilter()"><mat-icon>clear</mat-icon></button>
    </div>
    <button mat-button (click)="onClearSearchHistory()">Clear Search History</button>
  </div>

  <!-- STEAM GAME TILES -->
  <div class="flex flex-col justify-center items-center">
    <div class="flex flex-wrap w-full gap-3 justify-center">
      @for(steamGame of steamGames(); track steamGame.appid) {
      <hz-steam-game-tile [steamGame]="steamGame"></hz-steam-game-tile>
      }
    </div>
    <mat-paginator
      #steamGamePaginator
      hidePageSize
      [length]="pageLength()"
      [pageSize]="20"
      showFirstLastButtons
      (page)="onSetPage()"
      [pageIndex]="pageIndex()"></mat-paginator>
  </div>
</div>
