<div class="dev-portal-container">
  <hz-banner>
    <hz-banner-header>Developer Portal Navigation</hz-banner-header>
    <hz-banner-body>
      Use the Developer Portal to explore different sections of Hz custom components. Each section highlights how they look and behave in
      various configurations. This portal serves as a central place to browse and understand the components available across the
      application.
    </hz-banner-body>
  </hz-banner>

  <div class="dev-portal-nav-container">
    <a class="w-96" mat-flat-button [routerLink]="['/testing/dev-portal/hz-banner']">Hz Banner</a>
    <a class="w-96" mat-flat-button [routerLink]="['/testing/dev-portal/hz-stat-card']">Hz Stat Card</a>
  </div>
</div>
