<div class="flex flex-col gap-3">
  <mat-tab-group dynamicHeight>
    <mat-tab label="Hz Banner">
      <section class="flex flex-col gap-3 py-3">
        @for(type of types(); track type) {
        <!-- Banner with header and body -->
        <div class="flex flex-col gap-1">
          <h2 class="text-lg font-semibold">Basic Banner</h2>
          <hz-banner [type]="type">
            <hz-banner-header>{{ LOREM_IPSUM.TITLE }}</hz-banner-header>
            <hz-banner-body>
              {{ LOREM_IPSUM.MEDIUM }}
            </hz-banner-body>
          </hz-banner>
        </div>

        <!-- Banner with only header -->
        <div class="flex flex-col gap-1">
          <h2 class="text-lg font-semibold">Banner with only header</h2>
          <hz-banner [type]="type">
            <hz-banner-header>
              {{ LOREM_IPSUM.MEDIUM }}
            </hz-banner-header>
          </hz-banner>
        </div>

        <!-- Banner with only body -->
        <div class="flex flex-col gap-1">
          <h2 class="text-lg font-semibold">Banner with only body</h2>
          <hz-banner [type]="type">
            <hz-banner-body>
              {{ LOREM_IPSUM.MEDIUM }}
            </hz-banner-body>
          </hz-banner>
        </div>

        <!-- Banner that is closeable -->
        <div class="flex flex-col gap-1">
          <h2 class="text-lg font-semibold">Banner that is closeable</h2>
          <hz-banner [type]="type" closeable>
            <hz-banner-header>{{ LOREM_IPSUM.TITLE }}</hz-banner-header>
            <hz-banner-body>
              {{ LOREM_IPSUM.MEDIUM }}
            </hz-banner-body>
          </hz-banner>
        </div>

        <!-- Banner with custom icon -->
        <div class="flex flex-col gap-1">
          <h2 class="text-lg font-semibold">Banner with custom icon</h2>
          <hz-banner [type]="type" displayIcon="auto_awesome">
            <hz-banner-header>{{ LOREM_IPSUM.TITLE }}</hz-banner-header>
            <hz-banner-body>
              {{ LOREM_IPSUM.MEDIUM }}
            </hz-banner-body>
          </hz-banner>
        </div>
        }
      </section>
    </mat-tab>

    <mat-tab label="Hz Chip">
      <div class="flex flex-col gap-3 py-3">
        @for(type of types(); track type) {
        <!-- Chip Set options -->

        <section class="flex flex-col gap-3">
          <h2 class="text-lg font-semibold">Chip Set</h2>
          <hz-chip-set>
            <hz-chip [type]="type">Running</hz-chip>
            <hz-chip [type]="type">Complete</hz-chip>
            <hz-chip [type]="type">Failed</hz-chip>
            <hz-chip [type]="type">Canceled</hz-chip>
            <hz-chip [type]="type">In-Progress</hz-chip>
            <hz-chip [type]="type">Pending</hz-chip>
          </hz-chip-set>

          <h2 class="text-lg font-semibold">Chip Set Clickable</h2>
          <hz-chip-set>
            <hz-chip [type]="type" clickable (clicked)="onClickChip(`Running - ${type}`)">Running</hz-chip>
            <hz-chip [type]="type" clickable (clicked)="onClickChip(`Complete - ${type}`)">Complete</hz-chip>
            <hz-chip [type]="type" clickable (clicked)="onClickChip(`Failed - ${type}`)">Failed</hz-chip>
            <hz-chip [type]="type" clickable (clicked)="onClickChip(`Canceled - ${type}`)">Canceled</hz-chip>
            <hz-chip [type]="type" clickable (clicked)="onClickChip(`In-Progress - ${type}`)">In-Progress</hz-chip>
            <hz-chip [type]="type" clickable (clicked)="onClickChip(`Pending - ${type}`)">Pending</hz-chip>
          </hz-chip-set>

          <h2 class="text-lg font-semibold">Chip Set Clickable and Closeable</h2>
          <hz-chip-set>
            <hz-chip
              [type]="type"
              clickable
              closeable
              (closed)="onCloseChip(`Running - ${type}`)"
              (clicked)="onClickChip(`Running - ${type}`)">
              Running
            </hz-chip>
            <hz-chip
              [type]="type"
              clickable
              closeable
              (closed)="onCloseChip(`Complete - ${type}`)"
              (clicked)="onClickChip(`Complete - ${type}`)">
              Complete
            </hz-chip>
            <hz-chip
              [type]="type"
              clickable
              closeable
              (closed)="onCloseChip(`Failed - ${type}`)"
              (clicked)="onClickChip(`Failed - ${type}`)">
              Failed
            </hz-chip>
            <hz-chip
              [type]="type"
              clickable
              closeable
              (closed)="onCloseChip(`Canceled - ${type}`)"
              (clicked)="onClickChip(`Canceled - ${type}`)">
              Canceled
            </hz-chip>
            <hz-chip
              [type]="type"
              clickable
              closeable
              (closed)="onCloseChip(`In-Progress - ${type}`)"
              (clicked)="onClickChip(`In-Progress - ${type}`)">
              In-Progress
            </hz-chip>
            <hz-chip
              [type]="type"
              clickable
              closeable
              (closed)="onCloseChip(`Pending - ${type}`)"
              (clicked)="onClickChip(`Pending - ${type}`)">
              Pending
            </hz-chip>
          </hz-chip-set>
        </section>
        }
      </div>
    </mat-tab>

    <mat-tab label="Hz Card">
      <div class="flex flex-col gap-3 py-3">
        <section class="flex flex-col gap-3">
          <h2 class="text-lg font-semibold">Basic Card</h2>
          <div class="flex flex-wrap justify-center gap-3">
            @for(type of types(); track type) {
            <hz-card class="w-full max-w-96">
              <hz-card-header>{{ type | titlecase }} Card</hz-card-header>
              <hz-card-body>
                <p>{{ LOREM_IPSUM.MEDIUM }}</p>
              </hz-card-body>
            </hz-card>
            }
          </div>
        </section>

        <section class="flex flex-col gap-3">
          <h2 class="text-lg font-semibold">Card with Chip</h2>
          <div class="flex flex-wrap justify-center gap-3">
            @for(type of types(); track type) {
            <hz-card class="w-full max-w-96">
              <hz-card-header>{{ type }} Card</hz-card-header>
              <hz-card-chip>
                <hz-chip [type]="type">{{ type | titlecase }}</hz-chip>
              </hz-card-chip>
              <hz-card-body>
                <p>{{ LOREM_IPSUM.MEDIUM }}</p>
              </hz-card-body>
            </hz-card>
            }
          </div>
        </section>

        <section class="flex flex-col gap-3">
          <h2 class="text-lg font-semibold">Card with Primary Header and Chip</h2>
          <div class="flex flex-wrap justify-center gap-3">
            @for(type of types(); track type) {
            <hz-card primary class="w-full max-w-96">
              <hz-card-header>{{ type }} Card</hz-card-header>
              <hz-card-chip>
                <hz-chip [type]="type">{{ type | titlecase }}</hz-chip>
              </hz-card-chip>
              <hz-card-body>
                <p>{{ LOREM_IPSUM.MEDIUM }}</p>
              </hz-card-body>
            </hz-card>
            }
          </div>
        </section>

        <section class="flex flex-col gap-3">
          <h2 class="text-lg font-semibold">Card with Primary Header, Chip, and No Background</h2>
          <div class="flex flex-wrap justify-center gap-3">
            @for(type of types(); track type) {
            <hz-card primary hideBackground class="w-full max-w-96">
              <hz-card-header>{{ type }} Card</hz-card-header>
              <hz-card-chip>
                <hz-chip [type]="type">{{ type | titlecase }}</hz-chip>
              </hz-card-chip>
              <hz-card-body>
                <p>{{ LOREM_IPSUM.MEDIUM }}</p>
              </hz-card-body>
            </hz-card>
            }
          </div>
        </section>
      </div>
    </mat-tab>

    <mat-tab label="Hz Breadcrumb">
      <div class="flex flex-col gap-3 py-3">
        <div class="flex flex-col gap-1">
          <h2 class="text-lg font-semibold">Breadcrumbs</h2>
          <hz-breadcrumb [items]="HZ_BREAKCRUMB_SETS.set1"></hz-breadcrumb>
        </div>

        <div class="flex flex-col gap-1">
          <h2 class="text-lg font-semibold">Breadcrumbs with icons</h2>
          <hz-breadcrumb [items]="HZ_BREAKCRUMB_SETS.set2"></hz-breadcrumb>
        </div>

        <div class="flex flex-col gap-1">
          <h2 class="text-lg font-semibold">Breadcrumbs with disabled routes</h2>
          <hz-breadcrumb [items]="HZ_BREAKCRUMB_SETS.set3"></hz-breadcrumb>
        </div>

        <div class="flex flex-col gap-1">
          <h2 class="text-lg font-semibold">Breadcrumbs with tooltips</h2>
          <hz-breadcrumb [items]="HZ_BREAKCRUMB_SETS.set4"></hz-breadcrumb>
        </div>

        <div class="flex flex-col gap-1">
          <h2 class="text-lg font-semibold">Breadcrumbs with all options</h2>
          <hz-breadcrumb [items]="HZ_BREAKCRUMB_SETS.set5"></hz-breadcrumb>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Hz Command Palette">
      <div class="flex flex-col gap-3 py-3">
        <div class="flex flex-col gap-1">
          <h2 class="text-lg font-semibold">LaTeX Commands</h2>
          <hz-command-palette class="w-full max-w-96" [commands]="COMMANDS_LATEX" label="LaTeX Commands"> </hz-command-palette>
        </div>

        <div class="flex flex-col gap-1">
          <h2 class="text-lg font-semibold">Developer Actions</h2>
          <hz-command-palette class="w-full max-w-96" [commands]="COMMANDS_DEV" placeholder="Search Dev Actions..."> </hz-command-palette>
        </div>

        <div class="flex flex-col gap-1">
          <h2 class="text-lg font-semibold">Git Commands</h2>
          <hz-command-palette class="w-full max-w-96" [commands]="COMMANDS_GIT" label="Git Commands" placeholder="Find a git action">
          </hz-command-palette>
        </div>

        <div class="flex flex-col gap-1">
          <h2 class="text-lg font-semibold">AI Assistant</h2>
          <hz-command-palette class="w-full max-w-96" [commands]="COMMANDS_AI"> </hz-command-palette>
        </div>

        <div class="flex flex-col gap-1">
          <h2 class="text-lg font-semibold">Browser Tools</h2>
          <hz-command-palette class="w-full max-w-96" [commands]="COMMANDS_BROWSER" label="Browser Tools"> </hz-command-palette>
        </div>

        <div class="flex flex-col gap-1">
          <h2 class="text-lg font-semibold">Theme Options</h2>
          <hz-command-palette class="w-full max-w-96" [commands]="COMMANDS_THEME" placeholder="Find theme options..."> </hz-command-palette>
        </div>

        <div class="flex flex-col gap-1">
          <h2 class="text-lg font-semibold">Navigation</h2>
          <hz-command-palette class="w-full max-w-96" [commands]="COMMANDS_NAV" label="Navigation"> </hz-command-palette>
        </div>

        <div class="flex flex-col gap-1">
          <h2 class="text-lg font-semibold">Utility Commands</h2>
          <hz-command-palette class="w-full max-w-96" [commands]="COMMANDS_UTIL"> </hz-command-palette>
        </div>

        <div class="flex flex-col gap-1">
          <h2 class="text-lg font-semibold">Component Library</h2>
          <hz-command-palette
            class="w-full max-w-96"
            [commands]="COMMANDS_COMPONENTS"
            label="Component Library"
            placeholder="Search components">
          </hz-command-palette>
        </div>

        <div class="flex flex-col gap-1">
          <h2 class="text-lg font-semibold">Math Symbols</h2>
          <hz-command-palette class="w-full max-w-96" [commands]="COMMANDS_MATH" placeholder="Search math symbols"> </hz-command-palette>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Hz Loading">
      <div class="flex flex-col gap-3 py-3">
        <div class="flex flex-col gap-1">
          <h2 class="text-lg font-semibold">Loading spinner</h2>
          <hz-loading-spinner></hz-loading-spinner>
        </div>

        <div class="flex flex-col gap-1">
          <h2 class="text-lg font-semibold">Loading spinner with background</h2>
          <hz-loading-spinner showBackground></hz-loading-spinner>
        </div>

        <div class="flex flex-col gap-1">
          <h2 class="text-lg font-semibold">Loading spinner with custom text</h2>
          <hz-loading-spinner text="Loading test payload..."></hz-loading-spinner>
        </div>

        <div class="flex flex-col gap-1">
          <h2 class="text-lg font-semibold">Loading spinner with larger spinner</h2>
          <hz-loading-spinner text="Loading test payload..." [size]="64"></hz-loading-spinner>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
