<mat-tab-group
  mat-stretch-tabs="false"
  mat-align-tabs="start"
  (selectedTabChange)="onTabChange($event)"
  dynamicHeight
  [selectedIndex]="tabIndex()">
  <mat-tab label="Dashboard">
    <div class="flex flex-col gap-3 py-3">
      @if(steamInsightDashboard() && dashboardLoadingStatus() === LOADING_STATUS.SUCCESS) {

      <!-- App Stats -->
      <hz-stat-card-group showPrimaryHeader>
        @for(stat of steamInsightDashboard()?.appStats; track stat.displayName) {
        <hz-stat-card>
          <hz-stat-card-title>{{ stat.displayName }}</hz-stat-card-title>
          <hz-stat-card-value>{{ stat.value }}</hz-stat-card-value>
        </hz-stat-card>
        }
      </hz-stat-card-group>

      <div class="grid grid-cols-2 gap-3" [ngClass]="isMobileScreen() ? 'grid-cols-1' : 'grid-cols-2'">
        <!-- IN PROGRESS UPDATE-->
        @if(runningUpdate()) {
        <hz-card primary>
          <hz-card-header>In-Progress Update</hz-card-header>
          <hz-card-chip>
            <hz-chip>Running</hz-chip>
          </hz-card-chip>
          <hz-card-body>
            <div class="flex flex-col gap-3">
              <div class="flex flex-col gap-3">
                <div>
                  <span class="font-semibold">Start Time</span>
                  <div>{{ runningUpdate()!.startTime | date : 'short' }}</div>
                </div>
              </div>
              <div>
                <span class="font-semibold">Events</span>
                <ul class="list-disc list-inside">
                  @for (event of runningUpdate()!.events; track event.message) {
                  <li>{{ event.timestamp | date : 'short' }} - {{ event.message | formatDate }}</li>
                  }
                </ul>
              </div>

              <button mat-flat-button (click)="onStopUpdate()">Stop Update</button>
            </div>
          </hz-card-body>
        </hz-card>
        } @else {
        <hz-card>
          <hz-card-body class="flex flex-col gap-3">
            <hz-banner type="primary">
              <hz-banner-header>No update in progress</hz-banner-header>
              <hz-banner-body>Steam Insight is not currently running an update.</hz-banner-body>
            </hz-banner>

            <div class="flex flex-col gap-2">
              <span class="font-semibold">Start Update</span>
              <div class="flex flex-row flex-wrap gap-3">
                <button mat-flat-button (click)="onStartUpdate(true)">Full</button>
                <button mat-flat-button (click)="onStartUpdate()">Incremental</button>
              </div>
            </div>
          </hz-card-body>
        </hz-card>
        }

        <div class="grid gap-3">
          @for (update of steamInsightDashboard()?.recentUpdates; track update.id) {
          <hz-card primary>
            <hz-card-header>{{ getUpdateType(update.updateType) }} Update</hz-card-header>
            <hz-card-chip>
              <hz-chip [type]="getUpdateStatusType(update.updateStatus)">{{ getUpdateStatus(update.updateStatus) }}</hz-chip>
            </hz-card-chip>

            <hz-card-body>
              <div class="grid grid-cols-2 gap-3 w-full">
                <div>
                  <span class="font-semibold">Start Time</span>
                  <div>{{ update.startTime | date : 'short' }}</div>
                </div>
                <div>
                  <span class="font-semibold">End Time</span>
                  <div>{{ update.endTime ? (update.endTime | date : 'short') : '—' }}</div>
                </div>
              </div>
            </hz-card-body>
          </hz-card>

          }
        </div>
      </div>

      <!-- Handle Loading and Errors-->
      } @else if(dashboardLoadingStatus() === LOADING_STATUS.IN_PROGRESS) {
      <div class="w-full flex justify-center">
        <mat-spinner></mat-spinner>
      </div>
      } @else if(dashboardLoadingStatus() === LOADING_STATUS.FAILED) {
      <hz-banner type="error">
        <hz-banner-header>Steam Insight Dashboard failed to load</hz-banner-header>
        <hz-banner-body>
          The system was unable to retrieve data required to render the Steam Insight Dashboard. This issue may be caused by a connectivity
          failure between the application and the backend service, a timeout during data retrieval, or a misconfigured server endpoint.
          Please verify that the server is online and accessible, and confirm that the API service responsible for dashboard data is running
          correctly.
        </hz-banner-body>
      </hz-banner>
      }
    </div>
  </mat-tab>

  <mat-tab label="Steam App Search">
    <div class="flex flex-col gap-3 py-3">
      @if(steamInsightAppsLoadingStatus() === LOADING_STATUS.SUCCESS || steamInsightAppsLoadingStatus() === LOADING_STATUS.IN_PROGRESS) {
      <hz-card class="flex self-start">
        <hz-card-header>
          <mat-icon fontSet="material-symbols-outlined">filter_alt</mat-icon>
          Filter
        </hz-card-header>
        <hz-card-body>
          <form [formGroup]="steamInsightAppsSearchForm" class="flex flex-row flex-wrap gap-3 items-center">
            <mat-form-field subscriptSizing="dynamic">
              <mat-label>Appid</mat-label>
              <input matInput formControlName="appid" />
            </mat-form-field>

            <mat-form-field subscriptSizing="dynamic">
              <mat-label>Keywords</mat-label>
              <input matInput formControlName="keywords" />
            </mat-form-field>

            <mat-form-field subscriptSizing="dynamic">
              <mat-label>App Type</mat-label>
              <mat-select formControlName="type">
                @for (type of steamInsightAppsTypeOptions(); track type.value) {
                <mat-option [value]="type.value">{{ type.label }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field subscriptSizing="dynamic">
              <mat-label>Is Adult</mat-label>
              <mat-select formControlName="isAdult">
                <mat-option [value]="null">None</mat-option>
                <mat-option [value]="true">Yes</mat-option>
                <mat-option [value]="false">No</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field subscriptSizing="dynamic">
              <mat-label>Validation Failed</mat-label>
              <mat-select formControlName="validationFailed">
                <mat-option [value]="null">None</mat-option>
                <mat-option [value]="true">Yes</mat-option>
                <mat-option [value]="false">No</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field subscriptSizing="dynamic">
              <mat-label>Active</mat-label>
              <mat-select formControlName="active">
                <mat-option [value]="null">None</mat-option>
                <mat-option [value]="true">Yes</mat-option>
                <mat-option [value]="false">No</mat-option>
              </mat-select>
            </mat-form-field>

            <button mat-flat-button (click)="onResetAppSearchFilters()">
              <mat-icon fontSet="material-symbols-outlined">refresh</mat-icon>
              Reset
            </button>
          </form>
        </hz-card-body>
      </hz-card>

      <hz-card>
        <hz-card-body>
          <div class="w-full flex flex-col">
            <table
              mat-table
              [dataSource]="steamInsightAppsDataSource"
              matSort
              (matSortChange)="onSteamInsightAppSort($event)"
              #steamInsightAppsSort="matSort"
              class="mat-elevation-z8">
              <ng-container matColumnDef="appid">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by app id">Appid</th>
                <td mat-cell *matCellDef="let element">{{ element.appid }}</td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Name</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
              </ng-container>

              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by type">Type</th>
                <td mat-cell *matCellDef="let element">
                  <hz-chip>{{ element.type }}</hz-chip>
                </td>
              </ng-container>

              <ng-container matColumnDef="isAdult">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by is adult">Is Adult</th>
                <td mat-cell *matCellDef="let element">
                  <hz-chip [type]="element.isAdult ? 'error' : 'success'">{{ element.isAdult ? 'Yes' : 'No' }}</hz-chip>
                </td>
              </ng-container>

              <ng-container matColumnDef="validationFailed">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by is validation status">
                  Validation Failed
                </th>
                <td mat-cell *matCellDef="let element">
                  <hz-chip [type]="element.validationFailed ? 'error' : 'success'">{{ element.validationFailed ? 'Yes' : 'No' }}</hz-chip>
                </td>
              </ng-container>

              <ng-container matColumnDef="active">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by active status">Active</th>
                <td mat-cell *matCellDef="let element">
                  <hz-chip [type]="element.active ? 'success' : 'error'">{{ element.active ? 'Yes' : 'No' }}</hz-chip>
                </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef aria-hidden="true"></th>
                <td mat-cell class="min-w-16" *matCellDef="let element">
                  <div class="flex justify-end items-center">
                    <button mat-icon-button (click)="onViewApp(element)" aria-label="View App">
                      <mat-icon matTooltip="View App">visibility</mat-icon>
                    </button>
                    <button
                      mat-icon-button
                      (click)="onUpdateAppActiveStatus(element)"
                      [attr.aria-label]="element.active ? 'Disable App' : 'Enable App'">
                      <mat-icon fontSet="material-symbols-outlined" [matTooltip]="element.active ? 'Disable App' : 'Enable App'">
                        {{ element.active ? 'cancel' : 'check_circle' }}
                      </mat-icon>
                    </button>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="steamInsightAppsDisplayedColumns()"></tr>
              <tr mat-row class="table-row" *matRowDef="let row; columns: steamInsightAppsDisplayedColumns()"></tr>
            </table>
            @if (steamInsightAppRows() && steamInsightAppRows().length > 0) {
            <mat-paginator
              [length]="steamInsightAppsPageLength()"
              [pageIndex]="steamInsightAppsPage()"
              [pageSize]="steamInsightAppsPageSize()"
              [pageSizeOptions]="PAGE_SIZE_OPTIONS"
              (page)="onSteamInsightAppPageChange($event)"
              showFirstLastButtons
              aria-label="Steam Insight App Search Paginator"
              #steamInsightAppsPaginator></mat-paginator>
            } @else {
            <hz-banner type="warning" class="mt-3">
              <hz-banner-header>No apps found</hz-banner-header>
              <hz-banner-body>
                There are no records that match the current filters in the Steam Insight Apps. Try adjusting your search criteria or refresh
                the table to check for newly available apps.
              </hz-banner-body>
            </hz-banner>
            }
          </div>
        </hz-card-body>
      </hz-card>
      } @else if(steamInsightAppsLoadingStatus() === LOADING_STATUS.FAILED) {
      <hz-banner type="error">
        <hz-banner-header>Steam Insight Apps failed to load</hz-banner-header>
        <hz-banner-body>
          The system was unable to retrieve apps data for this table. This may be due to a connectivity issue with the backend service, a
          timeout while fetching records, or a misconfigured API endpoint. Please verify that the server is online and reachable, and
          confirm that the app API service is running correctly.
        </hz-banner-body>
      </hz-banner>
      }
    </div>
  </mat-tab>

  <mat-tab label="Steam Update History">
    <div class="flex flex-col gap-3 py-3">
      @if(steamInsightUpdatesLoadingStatus() === LOADING_STATUS.SUCCESS || steamInsightUpdatesLoadingStatus() ===
      LOADING_STATUS.IN_PROGRESS) {
      <hz-card class="flex self-start">
        <hz-card-header>
          <mat-icon fontSet="material-symbols-outlined">filter_alt</mat-icon>
          Filter
        </hz-card-header>
        <hz-card-body>
          <form [formGroup]="steamInsightUpdatesSearchForm" class="flex flex-row flex-wrap gap-3 items-center">
            <mat-form-field subscriptSizing="dynamic">
              <mat-label>Update Status</mat-label>
              <mat-select formControlName="statuses" multiple>
                @for (status of steamInsightUpdatesStatusOptions(); track status.value) {
                <mat-option [value]="status.value">{{ status.label }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field subscriptSizing="dynamic">
              <mat-label>Update Type</mat-label>
              <mat-select formControlName="type">
                <mat-option [value]="null">None</mat-option>
                @for (type of steamInsightUpdatesTypeOptions(); track type.value) {
                <mat-option [value]="type.value">{{ type.label }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <button mat-flat-button (click)="onResetUpdateSearchFilters()">
              <mat-icon fontSet="material-symbols-outlined">refresh</mat-icon>
              Reset
            </button>
          </form>
        </hz-card-body>
      </hz-card>

      <hz-card>
        <hz-card-body>
          <div class="w-full flex flex-col">
            <table
              mat-table
              [dataSource]="steamInsightUpdatesDataSource"
              matSort
              (matSortChange)="onSteamInsightUpdatesSort($event)"
              #steamInsightUpdateSort="matSort"
              class="mat-elevation-z8">
              <ng-container matColumnDef="startTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by start time">Start Time</th>
                <td mat-cell *matCellDef="let element">{{ element.startTime | date : 'short' }}</td>
              </ng-container>

              <ng-container matColumnDef="endTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by end time">End Time</th>
                <td mat-cell *matCellDef="let element">{{ element.endTime ? (element.endTime | date : 'short') : '—' }}</td>
              </ng-container>

              <ng-container matColumnDef="totalRuntime">
                <th mat-header-cell *matHeaderCellDef>Total Runtime</th>
                <td mat-cell *matCellDef="let element">{{ element.totalRuntime ? (element.totalRuntime | duration : 's') : '—' }}</td>
              </ng-container>

              <ng-container matColumnDef="updateStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by update status">Update Status</th>
                <td mat-cell *matCellDef="let element">
                  <hz-chip [type]="element.updateStatusType">{{ element.updateStatus }}</hz-chip>
                </td>
              </ng-container>

              <ng-container matColumnDef="updateType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by update type">Update Type</th>
                <td mat-cell *matCellDef="let element">
                  <hz-chip>{{ element.updateType }}</hz-chip>
                </td>
              </ng-container>

              <ng-container matColumnDef="notes">
                <th mat-header-cell *matHeaderCellDef>Notes</th>
                <td mat-cell *matCellDef="let element">{{ element.notes }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="steamInsightUpdatesDisplayedColumns()"></tr>
              <tr
                mat-row
                class="table-row-clickable"
                *matRowDef="let row; columns: steamInsightUpdatesDisplayedColumns()"
                (click)="onSteamInsightUpdatesRowClick(row)"></tr>
            </table>
            @if (steamInsightUpdateRows() && steamInsightUpdateRows().length > 0) {
            <mat-paginator
              [length]="steamInsightUpdatesPageLength()"
              [pageIndex]="steamInsightUpdatesPage()"
              [pageSize]="steamInsightUpdatesPageSize()"
              [pageSizeOptions]="PAGE_SIZE_OPTIONS"
              (page)="onSteamInsightUpdatesPageChange($event)"
              showFirstLastButtons
              aria-label="Steam Insight Updates Paginator"
              #steamInsightUpdatesPaginator></mat-paginator>
            } @else {
            <hz-banner type="warning" class="mt-3">
              <hz-banner-header>No update history found</hz-banner-header>
              <hz-banner-body>
                There are no records that match the current filters in the Steam Insight Update History. Try adjusting your search criteria
                or refresh the table to check for newly available updates.
              </hz-banner-body>
            </hz-banner>
            }
          </div>
        </hz-card-body>
      </hz-card>
      } @else if(steamInsightUpdatesLoadingStatus() === LOADING_STATUS.FAILED) {
      <hz-banner type="error">
        <hz-banner-header>Steam Insight Update History failed to load</hz-banner-header>
        <hz-banner-body>
          The system was unable to retrieve update history data for this table. This may be due to a connectivity issue with the backend
          service, a timeout while fetching records, or a misconfigured API endpoint. Please verify that the server is online and reachable,
          and confirm that the update history API service is running correctly.
        </hz-banner-body>
      </hz-banner>
      }
    </div>
  </mat-tab>
</mat-tab-group>
