<div class="flex flex-col">
  <div class="flex flex-row justify-end gap-3 py-3">
    <button mat-mini-fab (click)="onAddBase()" matTooltip="Add Tile" aria-label="Add base conversion tile">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-mini-fab (click)="onRemoveAllBases()" matTooltip="Delete All Tiles" aria-label="Delete all base conversion tiles">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  @if(!baseConversions().length) {
  <app-message-card message="No base tiles found"></app-message-card>

  } @else {
  <div class="base-container">
    @for(convertBase of baseConversions(); track convertBase.base) {
    <app-base-convert-tile
      class="w-full max-w-96 min-w-80"
      [convertBase]="convertBase"
      (updateConversions)="onUpdateBaseConversions($event)"
      (removeTile)="onRemoveBase($event)"
      (reorderConversions)="onReorderConversions($event.base, $event.prevIndex, $event.currentIndex)"></app-base-convert-tile>
    }
  </div>
  }
</div>
