<div class="flex flex-col">
  <div class="flex flex-row justify-end gap-3">
    <button mat-flat-button (click)="onAddBase()">Add Base Tile</button>
    <button mat-flat-button (click)="onRemoveAllBases()">Remove All Tiles</button>
  </div>
  <div class="base-container">
    @for(convertBase of baseConversions(); track convertBase.base) {
    <app-base-convert-tile
      class="w-full max-w-96 min-w-80"
      [convertBase]="convertBase"
      (addTile)="onAddBaseConversion($event)"
      (removeTile)="onRemoveBase($event)"
      (removeConversion)="onRemoveBaseConversion($event.base, $event.conversion)"></app-base-convert-tile>
    }
  </div>
</div>
