<h2 mat-dialog-title class="dialog-title-override">
  <div class="title-content">
    <span>{{ row.updateType }} Update</span>
    <hz-chip [type]="row.updateStatusType">
      {{ row.updateStatus }}
    </hz-chip>
  </div>
</h2>

<mat-dialog-content>
  <div class="flex flex-col gap-3">
    <!-- Main Information -->
    <div class="grid grid-cols-2 gap-3">
      <div>
        <span class="font-semibold">Start Time</span>
        <div>{{ row.startTime | date : 'short' }}</div>
      </div>
      <div>
        <span class="font-semibold">End Time</span>
        <div>{{ row.endTime ? (row.endTime | date : 'short') : '—' }}</div>
      </div>
      <div>
        <span class="font-semibold">Total Runtime</span>
        <div>{{ row.totalRuntime | duration : 's' }}</div>
      </div>
      <div>
        <span class="font-semibold">Notes</span>
        <div>{{ row.notes || '—' }}</div>
      </div>
    </div>

    <!-- Update Stats -->
    @if (row.stats && showStats) {
    <div class="flex flex-col gap-2">
      <div class="grid grid-cols-3 gap-3">
        <div class="flex flex-col">
          <span class="font-semibold">General</span>
          <span>Total: {{ row.stats.total }}</span>
          <span>Error: {{ row.stats.errors }}</span>
        </div>

        <div class="flex flex-col">
          <span class="font-semibold">Games</span>
          <span>Inserts: {{ row.stats.games.inserts }}</span>
          <span>Updates: {{ row.stats.games.updates }}</span>
          <span>No Change: {{ row.stats.games.noChange }}</span>
        </div>

        <div class="flex flex-col">
          <span class="font-semibold">DLC</span>
          <span>Inserts: {{ row.stats.dlc.inserts }}</span>
          <span>Updates: {{ row.stats.dlc.updates }}</span>
          <span>No Change: {{ row.stats.dlc.noChange }}</span>
        </div>
      </div>
    </div>
    }

    <!-- Events -->
    @if (row.events && row.events.length) {
    <hz-timeline>
      @for (event of row.events; track event; let first = $first) {
      <hz-timeline-item [latest]="first">
        <hz-timeline-header>{{ event.timestamp | date : 'short' }}</hz-timeline-header>
        <hz-timeline-body>{{ event.message | formatDate }}</hz-timeline-body>
      </hz-timeline-item>
      }
    </hz-timeline>
    }
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button matButton="outlined" (click)="onClose()">Close</button>
</mat-dialog-actions>
