<h2 mat-dialog-title class="dialog-title-override">
  <div class="title-content">
    <span>{{ row.updateType }} Update</span>
    <hz-chip [type]="row.updateStatusType">
      {{ row.updateStatus }}
    </hz-chip>
  </div>
</h2>

<mat-dialog-content>
  <div class="flex flex-col gap-3">
    <!-- Core Details -->
    <div class="grid grid-cols-2 gap-4 text-sm">
      <div>
        <span class="font-semibold">Start Time:</span>
        <div>{{ row.startTime | date : 'short' }}</div>
      </div>
      <div>
        <span>End Time:</span>
        <div>{{ row.endTime ? (row.endTime | date : 'short') : '—' }}</div>
      </div>
      <div>
        <span>Total Runtime:</span>
        <div>{{ row.totalRuntime | duration : 's' }}</div>
      </div>
      <div>
        <span>Notes:</span>
        <div>{{ row.notes || '—' }}</div>
      </div>
    </div>

    <!-- Stats -->
    @if (row.stats && showStats) {
    <div class="flex flex-col gap-2">
      <h3 class="text-base font-medium">Stats</h3>
      <div class="grid grid-cols-3 gap-4 text-sm">
        <div>
          <strong>Games</strong>
          <div>Inserts: {{ row.stats.games.inserts }}</div>
          <div>Updates: {{ row.stats.games.updates }}</div>
          <div>No Change: {{ row.stats.games.noChange }}</div>
        </div>
        <div>
          <strong>DLC</strong>
          <div>Inserts: {{ row.stats.dlc.inserts }}</div>
          <div>Updates: {{ row.stats.dlc.updates }}</div>
          <div>No Change: {{ row.stats.dlc.noChange }}</div>
        </div>
        <div>
          <strong>Errors</strong>
          <div>{{ row.stats.errors }}</div>
        </div>
      </div>
    </div>
    }

    <!-- Events -->
    @if (row.events && row.events.length) {

    <hz-timeline>
      @for (event of row.events; track event; let first = $first) {

      <hz-timeline-item [latest]="first">
        <hz-timeline-header>{{ event.timestamp | date : 'short' }}</hz-timeline-header>
        <hz-timeline-meta>{{ event.timestamp | date : 'short' }}</hz-timeline-meta>
        <hz-timeline-body>{{ event.message }}</hz-timeline-body>
      </hz-timeline-item>
      }
    </hz-timeline>

    }
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="onClose()">Close</button>
</mat-dialog-actions>
