<div class="main-layout-container">
  <div class="main-layout-toolbar">
    <div class="main-layout-toolbar-section">
      <button
        mat-icon-button
        (click)="onToggleLeftNav()"
        [attr.aria-label]="isLeftNavOpen() ? 'Close left navigation' : 'Open left navigation'">
        <mat-icon fontSet="material-symbols-outlined">{{ isLeftNavOpen() ? 'left_panel_close' : 'left_panel_open' }}</mat-icon>
      </button>

      <a [routerLink]="['/home']" class="main-layout-toolbar-title-container">
        <img [src]="appIcon" alt="Horizon Logo" class="main-layout-toolbar-logo" />
        <span>Horizon</span>
      </a>
    </div>

    <div class="main-layout-toolbar-section">
      <!--<button mat-icon-button matTooltip="Notifications" aria-label="Notifications">
         <mat-icon fontSet="material-symbols-outlined">notifications</mat-icon>
      </button>-->

      <!-- Toggle Theme Icon -->
      <button
        mat-icon-button
        (click)="onToggleTheme()"
        [matTooltip]="isDarkmode() ? 'Switch to light mode' : 'Switch to dark mode'"
        [attr.aria-label]="isDarkmode() ? 'Switch to light mode' : 'Switch to dark mode'">
        <mat-icon fontSet="material-symbols-outlined">{{ isDarkmode() ? 'light_mode' : 'dark_mode' }}</mat-icon>
      </button>

      <!-- Settings Menu 
      <button mat-icon-button [matMenuTriggerFor]="settingsMenu">
         <mat-icon fontSet="material-symbols-outlined">settings</mat-icon>
      </button>

      <mat-menu #settingsMenu="matMenu">
        <ng-template matMenuContent>
          <div class="main-layout-settings-menu-content" (click)="$event.stopPropagation()">
            <h4>Quick Settings Quick Settings Quick Settings Quick Settings</h4>

            <mat-slide-toggle>Dark Mode</mat-slide-toggle>
            <mat-slide-toggle>Notifications</mat-slide-toggle>
          </div>
        </ng-template>
      </mat-menu>-->

      <!-- Login/Account Icons -->
      @if(!isLoggedIn()) {
      <button mat-icon-button (click)="onLogin()" matTooltip="Sign In" aria-label="Sign In">
        <mat-icon fontSet="material-symbols-outlined">person</mat-icon>
      </button>
      } @else {
      <button mat-icon-button [matMenuTriggerFor]="userMenu" matTooltip="Account" aria-label="Account">
        <mat-icon fontSet="material-symbols-outlined">account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="onLogout()">
          <mat-icon fontSet="material-symbols-outlined">logout</mat-icon>
          <span>Sign Out</span>
        </button>
      </mat-menu>
      }
    </div>
  </div>

  <mat-drawer-container class="main-layout-app-drawer">
    <!-- LEFT NAV DRAWER -->
    <mat-drawer
      [opened]="isLeftNavOpen()"
      [mode]="isSmallScreen() ? 'over' : 'side'"
      class="main-layout-left-nav-container"
      (closed)="onCloseLeftNav()">
      <div class="left-nav-wrapper">
        <hz-left-nav></hz-left-nav>

        <!-- LEFT NAV FOOTER -->
        <div class="main-layout-left-nav-footer">
          <button type="button" class="main-layout-left-nav-footer-pill-link" (click)="onOpenVersionHistory()">
            Horizon v{{ currentVersionInfo()?.version }} · {{ envName }}
          </button>
        </div>
      </div>
    </mat-drawer>

    <!-- MAIN CONTENT -->
    <mat-drawer-content cdkScrollable class="main-layout-drawer-content-container">
      <router-outlet />

      <footer class="main-layout-footer-container">
        <div class="main-layout-footer-content">
          @if(!isMobileScreen()) {
          <span>© 2025 AgentWhisky · Horizon Project</span>
          } @else {
          <span>© 2025 AgentWhisky</span>

          } @if(!isMobileScreen()) {
          <span>Built with Angular, NestJS, and PostgreSQL</span>
          }

          <!-- Social Links -->
          <div class="main-layout-footer-social-icons">
            <a [href]="githubUrl" target="_blank" rel="noopener" aria-label="GitHub">
              <mat-icon svgIcon="github"></mat-icon>
            </a>
            <a [href]="linkedInUrl" target="_blank" rel="noopener" aria-label="LinkedIn">
              <mat-icon svgIcon="linkedin"></mat-icon>
            </a>
          </div>
        </div>
      </footer>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
