<div class="flex flex-col justify-center items-center">
  <form class="flex justify-center items-center w-full" [formGroup]="filterForm()">
    <mat-form-field class="page-search" appearance="outline">
      <mat-label>Search</mat-label>
      <input
        matInput
        #linkLibrarySearch
        placeholder="Ex. Discord"
        maxlength="1024"
        formControlName="filter"
        aria-label="Link library search" />
      @if(linkLibrarySearch.value && linkLibrarySearch.value !== '') {
      <button matSuffix class="mr-3" mat-icon-button aria-label="Clear" (click)="onResetForm()">
        <mat-icon>close</mat-icon>
      </button>
      }
      <mat-error>Invalid Search Filter</mat-error>
    </mat-form-field>
  </form>

  <div class="link-card-container">
    @for(category of linksByCategory(); track category.id) {

    <mat-card class="link-card w-full max-w-96" appearance="outlined" routerLink="/link-library">
      <mat-card-header>
        <mat-card-title>{{ category.name }}</mat-card-title>
        <mat-card-subtitle>{{ category.description }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="flex flex-col justify-center items-center p-3 gap-3">
          @for(link of category.links; track link.id) {
          <app-link-tile [link]="link" class="w-full"></app-link-tile>
          }
        </div>
      </mat-card-content>
    </mat-card>
    }
  </div>
</div>
