.hz-card {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  width: 100%;
  gap: 0.75rem;

  align-items: center;

  border-radius: var(--mat-sys-corner-small);
  background-color: var(--mat-sys-surface);
  //border: 1px solid var(--hz-sys-base-border);

  box-shadow: var(--mat-sys-level2)
}

.hz-card.hide-background {
  background-color: transparent;
}

.hz-card-primary {
  color: var(--mat-sys-primary);
}

.hz-card-header-container {
  display: flex;
  flex-direction: row;

  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.hz-card-header-container:empty {
  display: none;
}
