@use '@angular/material' as mat;

:host {
  width: 100%;
  padding: 0.75rem;
}

// *** CATEGORY ***
.category-container {
  @apply flex flex-col w-full max-w-96 p-3 self-start;

  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: var(--mat-sys-corner-extra-small);
}

.category-title {
  @apply font-semibold text-2xl line-clamp-1;

  color: var(--mat-sys-primary);
}

.category-description {
  @apply text-sm line-clamp-3;
}

.link-button {
  @apply w-full items-center text-center;

  transition: transform 0.3s ease-in-out, box-shadoww 0.3s ease-in-out;
}

.link-button:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(46, 42, 42, 0.2);
}

.link-button:active {
  transform: translateY(-2px) scale(0.98);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.link-card-container {
  @apply flex flex-wrap w-full gap-3 justify-center;
}

.link-card {
  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: var(--mat-sys-corner-extra-small);
}
