@let links = libraryLinks();
<div class="link-library-container">
  <!-- LOAD SUCCESS -->
  @if(links && loadingState.isSuccess()) {
  <div class="link-library-filter-container">
    <mat-form-field class="page-search" subscriptSizing="dynamic">
      <mat-label>Filter Links</mat-label>
      <input
        matInput
        #linkLibrarySearch
        [(ngModel)]="linkFilter"
        placeholder="Ex. Discord"
        maxlength="1024"
        aria-label="Filter link library"
        (keydown.enter)="linkLibrarySearch.blur()" />
      @if(linkLibrarySearch.value && linkLibrarySearch.value !== '') {
      <button matSuffix class="mr-3" matIconButton aria-label="Clear" (click)="onResetFilter()">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
  </div>

  <!-- LINKS -->
  @if(linksByCategory().length > 0) {
  <div class="link-library-results-container">
    @for(category of linksByCategory(); track category.id) {
    <div class="link-library-category-container">
      <span class="link-library-category-title">{{ category.name }}</span>
      <span class="link-library-category-description">{{ category.description }}</span>
      <div class="link-library-link-tile-container">
        @for(link of category.links; track link.id) {
        <hz-link-tile [link]="link" class="w-full"></hz-link-tile>
        }
      </div>
    </div>

    }
  </div>
  }
  <!-- NO LINKS -->
  @else if (linkLibrarySearch.value.length > 0) {
  <hz-banner type="warning">
    <hz-banner-header>No links found</hz-banner-header>
    <hz-banner-body>
      No links match your current search. Try using different keywords or clearing your filters to see more results.
    </hz-banner-body>
  </hz-banner>
  } @else {
  <hz-banner type="warning">
    <hz-banner-header>No links available</hz-banner-header>
    <hz-banner-body> There are no links to display right now. Please check back later once new links become available. </hz-banner-body>
  </hz-banner>
  } }

  <!-- LOAD IN-PROGRESS -->
  @else if (loadingState.isLoading()) {
  <hz-loading-spinner text="Loading Link Library..."></hz-loading-spinner>
  }

  <!-- LOAD FAILURE -->
  @else if(loadingState.isFailed()) {
  <hz-banner type="error">
    <hz-banner-header>{{ loadingState.errorMessage()?.header }}</hz-banner-header>
    <hz-banner-body>{{ loadingState.errorMessage()?.body }}</hz-banner-body>
  </hz-banner>
  }
</div>
