<div class="link-library-container">
  <div class="link-library-filter-container">
    <mat-form-field class="page-search" subscriptSizing="dynamic">
      <mat-label>Filter Links</mat-label>
      <input
        matInput
        #linkLibrarySearch
        [(ngModel)]="linkFilter"
        placeholder="Ex. Discord"
        maxlength="1024"
        aria-label="Filter link library"
        (keydown.enter)="linkLibrarySearch.blur()" />
      @if(linkLibrarySearch.value && linkLibrarySearch.value !== '') {
      <button matSuffix class="mr-3" mat-icon-button aria-label="Clear" (click)="onResetFilter()">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
  </div>

  <!-- EMPTY FILTER ERROR -->
  @if(!linksByCategory().length && linkLibrarySearch.value.length) {
  <hz-banner class="page-search">
    <hz-banner-header>No links found</hz-banner-header>
    <hz-banner-body>Please refine your search</hz-banner-body>
  </hz-banner>
  } @else if(loadingStatus() === LOADING_STATUS.FAILED) {
  <hz-banner class="page-search">
    <hz-banner-header>Failed to load links</hz-banner-header>
    <hz-banner-body>Please try again later</hz-banner-body>
  </hz-banner>
  } @else {
  <div class="link-library-results-container">
    @for(category of linksByCategory(); track category.id) {
    <div class="link-library-category-container">
      <span class="link-library-category-title">{{ category.name }}</span>
      <span class="link-library-category-description">{{ category.description }}</span>
      <div class="link-library-link-tile-container">
        @for(link of category.links; track link.id) {
        <hz-link-tile [link]="link" class="w-full"></hz-link-tile>
        }
      </div>
    </div>

    }
  </div>
  }
</div>
