@use '@angular/material' as mat;

:host {
  width: 100%;
  padding: 0.75rem;
}

// *** CATEGORY ***
.category-container {
  @apply flex flex-col w-full max-w-96 p-3 self-start;

  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: var(--mat-sys-corner-extra-small);
}

.category-title {
  @apply font-semibold text-lg line-clamp-1;

  color: var(--mat-sys-primary);
}

.category-description {
  @apply text-sm line-clamp-3;
}

.link-card-container {
  @apply flex flex-wrap w-full gap-3 justify-center;
}
