<mat-card class="base-tile">
  <mat-card-header>
    <mat-card-subtitle>
      Base {{ convertBase().base }}{{ baseNames[convertBase().base] ? ' (' + baseNames[convertBase().base] + ')' : '' }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="w-full flex flex-col my-3 gap-3">
      <mat-form-field appearance="outline">
        <mat-label>Convert</mat-label>
        <textarea matInput #conversionInput [(ngModel)]="convertInput"></textarea>
        <mat-hint>Character Count: {{ conversionInput.textLength }}</mat-hint>
      </mat-form-field>
      <div class="flex flex-row">
        <button mat-button>Save</button>
        <button mat-button>Clear</button>
      </div>

      <mat-divider></mat-divider>

      @for(base of convertBase().conversions; track base) {
      <div class="flex flex-row items-center gap-1">
        <mat-form-field appearance="outline" class="flex-grow">
          <mat-label>Base {{ base }}{{ baseNames[base] ? ' (' + baseNames[base] + ')' : '' }}</mat-label>
          <textarea matInput #conversionOutput [value]="conversionMap().get(base) || ''" readonly></textarea>
          <mat-hint>Character Count: {{ conversionOutput.textLength }}</mat-hint>
        </mat-form-field>
        <button mat-icon-button class="icon-button" matTooltip="Remove">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      }
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Add Conversion</button>
    <button mat-button>Remove</button>
  </mat-card-actions>
</mat-card>
