<mat-card class="base-tile">
  <mat-card-header>
    <mat-card-subtitle>
      Base {{ convertBase().base }}{{ baseNames[convertBase().base] ? ' (' + baseNames[convertBase().base] + ')' : '' }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="w-full flex flex-col my-3 gap-3">
      <mat-form-field appearance="outline">
        <mat-label>Convert</mat-label>
        <textarea matInput #conversionInput [(ngModel)]="convertInput"></textarea>
        <mat-hint>Character Count: {{ conversionInput.textLength }}</mat-hint>
      </mat-form-field>

      <mat-divider></mat-divider>

      <div class="base-conversion-container" cdkDropList cdkDropListLockAxis="y" (cdkDropListDropped)="onDrop($event)">
        @for(base of convertBase().conversions; track base) {
        <div cdkDrag class="base-conversion flex flex-row items-center gap-1 p-1 rounded-md overflow-hidden">
          <mat-form-field appearance="outline" class="flex-grow" floatLabel="always">
            <mat-label>Base {{ base }}{{ baseNames[base] ? ' (' + baseNames[base] + ')' : '' }}</mat-label>
            <textarea matInput #conversionOutput [value]="conversionMap().get(base) || ''" cdkTextareaAutosize readonly></textarea>
            <mat-hint>Character Count: {{ conversionOutput.textLength }}</mat-hint>
          </mat-form-field>
          <div class="conversion-remove-icon-container">
            <button mat-icon-button class="icon-button" matTooltip="Remove" (click)="onRemoveConversion(base)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
        }
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onAddConversion()">Add Conversion</button>
    <button mat-button (click)="onRemoveBase()">Remove Tile</button>
  </mat-card-actions>
</mat-card>
