<div class="base-tile">
  <span class="font-semibold text-lg">Base {{ convertBase().base }}</span>
  <div class="w-full flex flex-col my-3 gap-3">
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>Convert</mat-label>
      <textarea matInput [(ngModel)]="convertInput"></textarea>
    </mat-form-field>
    <div class="flex flex-row">
      <button mat-button>Save</button>
      <button mat-button>Clear</button>
    </div>

    <mat-divider></mat-divider>

    @for(base of convertBase().conversions; track base) {
    <div class="flex flex-row items-center gap-1">
      <mat-form-field appearance="outline" subscriptSizing="dynamic" class="flex-grow">
        <mat-label>Base {{ base }}</mat-label>
        <textarea matInput [value]="convertInput()" readonly></textarea>
      </mat-form-field>
      <button mat-icon-button class="icon-button" matTooltip="Remove">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    }
  </div>
  <div class="flex flex-row">
    <button mat-button>Add Conversion</button>
    <button mat-button>Remove</button>
  </div>
</div>
