.base-tile {
  @apply w-full;

  background-color: var(--mat-sys-surface-container-low) !important;
  border: 1px solid var(--mat-sys-outline-variant) !important;
  border-radius: var(--mat-sys-corner-extra-small) !important;
}

.base-conversion-container {
  @apply w-full flex flex-col gap-3;
}

.base-conversion {
  background-color: var(--mat-sys-surface-container-low);
}

.base-conversion:hover {
  cursor: move;
  background-color: var(--mat-sys-surface-container);
}

.base-conversion-small {
  background-color: var(--mat-sys-surface-container-low);
}
