@let dashboard = dashboardInfo();

<div class="flex flex-col gap-3">
  <hz-breadcrumb [items]="breadcrumbItems"></hz-breadcrumb>

  <!-- LOAD SUCCESS -->
  @if(dashboard && loadingState.isSuccess()) {
  <div class="w-full flex flex-row flex-wrap justify-center gap-3">
    <hz-card class="w-full max-w-96">
      <hz-card-header>App Settings</hz-card-header>
      <hz-card-body class="flex flex-col gap-3">
        <hz-info-row>
          <hz-info-label>Account Creation Code</hz-info-label>
          <hz-info-value>{{ dashboard.creationCode }}</hz-info-value>
          <hz-info-actions>
            <button hzInfoAction aria-label="Copy clipboard" (click)="onCopyToClipboard(dashboard.creationCode)">
              <mat-icon>content_copy</mat-icon>
            </button>

            <button hzInfoAction aria-label="Copy clipboard" (click)="onRefreshCreationCode()">
              <mat-icon>refresh</mat-icon>
            </button>
          </hz-info-actions>
        </hz-info-row>
      </hz-card-body>
    </hz-card>

    <hz-card class="w-full max-w-96">
      <hz-card-header>Steam Insight Settings</hz-card-header>
      <hz-card-body class="flex flex-col gap-3">
        <hz-info-row>
          <hz-info-label>Updates Enabled</hz-info-label>
          <hz-info-value>
            <hz-chip [type]="dashboard.steamInsight.updatesEnabled ? 'success' : 'error'">
              {{ dashboard.steamInsight.updatesEnabled ? 'Yes' : 'No' }}
            </hz-chip>
          </hz-info-value>
        </hz-info-row>

        <hz-info-row>
          <hz-info-label>Update CRON Enabled</hz-info-label>
          <hz-info-value>
            <hz-chip [type]="dashboard.steamInsight.updateCronEnabled ? 'success' : 'error'">
              {{ dashboard.steamInsight.updateCronEnabled ? 'Yes' : 'No' }}
            </hz-chip>
          </hz-info-value>
        </hz-info-row>

        <hz-info-row>
          <hz-info-label>Updates Canceled on Startup</hz-info-label>
          <hz-info-value>
            <hz-chip [type]="dashboard.steamInsight.updateCancelOnStartup ? 'success' : 'error'">
              {{ dashboard.steamInsight.updateCancelOnStartup ? 'Yes' : 'No' }}
            </hz-chip>
          </hz-info-value>
        </hz-info-row>
      </hz-card-body>
    </hz-card>
  </div>
  }

  <!-- LOAD IN-PROGRESS -->
  @else if (loadingState.isLoading()) {
  <hz-loading-spinner text="Loading Horizon Dashboard..."></hz-loading-spinner>
  }

  <!-- LOAD FAILURE -->
  @else if(loadingState.isFailed()) {
  <hz-banner type="error">
    <hz-banner-header>{{ loadingState.errorMessage()?.header }}</hz-banner-header>
    <hz-banner-body>{{ loadingState.errorMessage()?.body }}</hz-banner-body>
  </hz-banner>
  }
</div>
