<div class="w-full flex flex-col gap-3">
  <div class="flex justify-end">
    <button matButton="filled" (click)="onRefreshDashboard()">
      <mat-icon>refresh</mat-icon>
      Refresh Dashboard
    </button>
  </div>
  <mat-card class="hz-card-legacy flex-1 min-w-64" appearance="outlined">
    <mat-card-header>
      <mat-card-title>App Settings</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="flex flex-col space-y-1 text-sm pt-3">
        <div class="display-text">
          <span>Account Creation Code:</span>
          <span class="text-right">
            {{ dashboardInfo().creationCode }}
          </span>
        </div>
      </div>
      <div class="flex flex-wrap gap-3 pt-3">
        <button matButton="filled" (click)="onCopyToClipboard(dashboardInfo().creationCode)">Copy Creation Code</button>
        <button matButton="filled" (click)="onRefreshCreationCode()">Refresh Creation Code</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
