<mat-dialog-content>
  <div class="flex flex-col gap-3">
    <h2 class="dialog-title">{{ this.data.type === 'create' ? 'Create New Category' : 'Edit Category' }}</h2>
    <form class="flex flex-col gap-3 py-1" [formGroup]="categoryForm">
      <mat-form-field class="w-full">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error>{{
          categoryForm.get('name')?.errors | validatorMessage : { unique: 'A category with this name already exists' }
        }}</mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Description</mat-label>
        <textarea matInput #categoryDescription formControlName="description" rows="6"></textarea>
        <mat-hint align="end">{{ categoryDescription.value.length }}/250</mat-hint>
        <mat-error>{{ categoryForm.get('description')?.errors | validatorMessage }}</mat-error>
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button matButton="outlined" (click)="onCancel()">Cancel</button>
  <button matButton="filled" (click)="onConfirm()" [disabled]="!categoryForm.valid || !categoryForm.dirty">
    {{ this.data.type === 'create' ? 'Create' : 'Update' }}
  </button>
</mat-dialog-actions>
