@if(!isFileLimitReached()) {
<div
  class="file-dropzone"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onFileDrop($event)"
  [class.file-drag-hover]="isDragOver()">
   <mat-icon>upload</mat-icon>
  <span>Drag & Drop to Upload File</span>
  <span>OR</span>
  <button matButton="filled" (click)="fileInput.click()">Browse</button>
  <input
    #fileInput
    type="file"
    hidden
    [accept]="allowedExtensions().join(',')"
    [multiple]="maxAllowedFiles() > 1"
    (change)="onFileSelected($event)" />
</div>
} @else {
<div class="file-display">
  <span>File limit reached</span>
</div>
}
