<mat-dialog-content>
  <div class="flex flex-col gap-3">
    <h2 class="dialog-title">{{ this.data.type === 'create' ? 'Create New Link' : 'Edit Link' }}</h2>
    <form class="flex flex-col gap-3 py-1" [formGroup]="linkForm">
      <mat-form-field class="w-full">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error>{{ linkForm.get('name')?.errors | validatorMessage }}</mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Url</mat-label>
        <input matInput formControlName="url" />
        <mat-error>{{ linkForm.get('url')?.errors | validatorMessage : { pattern: 'Invalid URL format' } }}</mat-error>
      </mat-form-field>

      <mat-form-field class="w-full" [subscriptSizing]="showIconDisplay() ? 'dynamic' : 'fixed'">
        <mat-label>Icon</mat-label>
        <input matInput formControlName="icon" #iconInput />
        <mat-error>{{ linkForm.get('icon')?.errors | validatorMessage : { pattern: 'Invalid URL format' } }}</mat-error>
        <button
          class="mr-3"
          matSuffix
          matIconButton
          type="button"
          aria-label="Search for icon"
          (click)="onSearchIcon()"
          [disabled]="!linkForm.get('url')?.valid">
           <mat-icon fontSet="material-symbols-outlined">image_search</mat-icon>
        </button>
      </mat-form-field>

      @if(showIconDisplay()) {
      <div class="link-icon-container">
        <img
          [src]="iconInput.value"
          fallbackSrc="assets/icons/default-favicon.ico"
          alt="favicon"
          class="w-8 h-8 p-1 rounded-full"
          [ngClass]="{
            'icon-bg-contrast': showIconContrastBackground()
          }" />

        <mat-button-toggle-group aria-label="Icon Background Toggle" formControlName="contrastBackground">
          <mat-button-toggle [value]="0">None</mat-button-toggle>
          <mat-button-toggle [value]="1" matTooltip="Add a light contrast background">Light</mat-button-toggle>
          <mat-button-toggle [value]="2" matTooltip="Add a dark contrast background">Dark</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      }

      <mat-form-field class="w-full">
        <mat-label>Tags</mat-label>
        <mat-select formControlName="tags" multiple>
          @for(tags of linkTags(); track tags.id) {
          <mat-option [value]="tags.id">{{ tags.name }}</mat-option>
          }
        </mat-select>
        <mat-error>{{ linkForm.get('tags')?.errors | validatorMessage }}</mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Description</mat-label>
        <textarea matInput #linkDescription formControlName="description" rows="6"></textarea>
        <mat-hint align="end">{{ linkDescription.value.length }}/250</mat-hint>
        <mat-error>{{ linkForm.get('description')?.errors | validatorMessage }}</mat-error>
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button matButton="filled" (click)="onConfirm()" [disabled]="!linkForm.valid || !linkForm.dirty">
    {{ this.data.type === 'create' ? 'Create' : 'Update' }}
  </button>
</mat-dialog-actions>
