<div class="w-full flex flex-row gap-3">
  <!-- LEFT CONTROLS -->
  <hz-card hideBackground class="w-full max-w-96">
    <hz-card-body class="flex flex-col gap-3">
      <hz-command-palette
        [commands]="commandPaletteCMDs"
        label="LaTeX Commands"
        (outputCommand)="onSelectPaletteCommand($event)"></hz-command-palette>

      <mat-accordion>
        @for (section of latexMenu; track section.label) {
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ section.label }}</mat-panel-title>
          </mat-expansion-panel-header>

          <div class="scrollable-panel-content">
            <div class="flex flex-row flex-wrap gap-3">
              @for (command of section.commands; track command.id) {
              <button
                matButton="outlined"
                [matTooltip]="command.label"
                [innerHTML]="command.value | katex"
                (click)="onInsertAtCursor(command)"></button>
              }
            </div>
          </div>
        </mat-expansion-panel>
        }
      </mat-accordion>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Command History</mat-panel-title>
        </mat-expansion-panel-header>

        @if(commandHistory().length > 0) {
        <div class="scrollable-panel-content">
          <div class="flex flex-row flex-wrap gap-3">
            @for (command of commandHistory(); track command.id) {
            <button
              matButton="outlined"
              [matTooltip]="command.label"
              [innerHTML]="command.value | katex"
              (click)="onInsertAtCursor(command)"></button>
            }
          </div>
        </div>
        } @else {
        <span>No history to display</span>
        }
      </mat-expansion-panel>
    </hz-card-body>
  </hz-card>

  <!-- CENTER CONTENT -->
  <div class="w-full flex flex-col gap-3">
    <!-- LATEX INPUT -->
    <div class="flex flex-row gap-3">
      <mat-form-field class="w-full" subscriptSizing="dynamic">
        <mat-label>LaTeX Input</mat-label>
        <textarea matInput [(ngModel)]="textInput" #latexEditorInput rows="10"></textarea>
      </mat-form-field>
      <div class="flex flex-col">
        <button matIconButton matTooltip="Clear Expression" (click)="onResetTextInput()"><mat-icon>clear</mat-icon></button>
        @if(textInput()) {
        <button matIconButton matTooltip="Copy Expression" (click)="onCopyExpression()">
          <mat-icon>content_copy</mat-icon>
        </button>

        <button matIconButton matTooltip="Save Expression" (click)="onSaveExpression()">
          <mat-icon>save</mat-icon>
        </button>

        }
      </div>
    </div>

    @if(textInput()) {
    <mat-card class="hz-card-legacy" appearance="outlined">
      <mat-card-content>
        <div class="latex-editor-display">
          <div [innerHTML]="textInput() | katex" [style.fontSize.px]="renderSize()"></div>

          <mat-slider class="w-full max-w-96" [min]="12" [max]="48" [step]="1" thumbLabel discrete showTickMarks>
            <input matSliderThumb [(ngModel)]="renderSize" #slider />
          </mat-slider>
        </div>
      </mat-card-content>
    </mat-card>
    }
  </div>

  <!-- CENTER CONTENT -->
  <hz-card class="w-full max-w-52">
    <hz-card-header>Saved Expressions</hz-card-header>
    <hz-card-body class="flex flex-col gap-3">
      <span>No Saved Expressions</span>
    </hz-card-body>
  </hz-card>
</div>
