<div class="flex flex-col w-full gap-3">
  <div class="text-input-tile">
    <div class="flex flex-row gap-3">
      <mat-form-field class="w-full" subscriptSizing="dynamic">
        <mat-label>LaTeX Input</mat-label>
        <textarea matInput [(ngModel)]="textInput" #textAnalyzeInput rows="10"></textarea>
      </mat-form-field>
      <div class="flex flex-col">
        <button mat-icon-button class="icon-button" matTooltip="Clear" (click)="onResetTextInput()"><mat-icon>clear</mat-icon></button>
        <button mat-icon-button class="icon-button" matTooltip="Copy" (click)="onCopyTextInput()">
          <mat-icon>content_copy</mat-icon>
        </button>
      </div>
    </div>
  </div>

  @if(textInput()) {
  <mat-card class="hz-card flex-1 min-w-64" appearance="outlined">
    <mat-card-content>
      <div class="flex flex-col justify-center items-center gap-3">
        <div [innerHTML]="renderedLatex()" [style.fontSize.px]="renderSize()"></div>

        <mat-slider class="flex flex-grow max-w-96" [min]="12" [max]="48" [step]="1" thumbLabel discrete showTickMarks>
          <input matSliderThumb [(ngModel)]="renderSize" #slider />
        </mat-slider>
      </div>
    </mat-card-content>
  </mat-card>
  }
</div>
