<div class="flex flex-col gap-3">
  <div class="base-converter-actions-container">
    <button mat-flat-button (click)="onAddBase()">
       <mat-icon fontSet="material-symbols-outlined">add</mat-icon>
      Add Tile
    </button>
    @if(baseConversions().length > 0) {
    <button mat-flat-button (click)="onRemoveAllBases()">
       <mat-icon fontSet="material-symbols-outlined">delete</mat-icon>
      Remove Tiles
    </button>
    }
  </div>
  @if(baseConversions().length === 0) {
  <hz-banner>
    <hz-banner-header>No tiles have been added yet</hz-banner-header>
    <hz-banner-body>Use the button above to create your first one. You can add more tiles at anytime!</hz-banner-body>
  </hz-banner>

  } @else {
  <div class="base-tile-container">
    @for(convertBase of baseConversions(); track convertBase.base) {
    <hz-base-convert-tile
      class="base-converter-base-tile"
      [convertBase]="convertBase"
      (updateConversions)="onUpdateBaseConversions($event)"
      (removeTile)="onRemoveBase($event)"
      (reorderConversions)="onReorderConversions($event.base, $event.prevIndex, $event.currentIndex)"></hz-base-convert-tile>
    }
  </div>
  }
</div>
