<div class="flex flex-col">
  <div class="flex flex-row justify-end gap-3 py-3">
    <button mat-flat-button (click)="onAddBase()">
      <mat-icon>add</mat-icon>
      Add Tile
    </button>
    <button mat-flat-button (click)="onRemoveAllBases()">
      <mat-icon>delete</mat-icon>
      Remove Tiles
    </button>
  </div>
  @if(!baseConversions().length) {
  <hz-message-card message="No base tiles found"></hz-message-card>

  } @else {
  <div class="base-container">
    @for(convertBase of baseConversions(); track convertBase.base) {
    <hz-base-convert-tile
      class="w-full max-w-96 min-w-80"
      [convertBase]="convertBase"
      (updateConversions)="onUpdateBaseConversions($event)"
      (removeTile)="onRemoveBase($event)"
      (reorderConversions)="onReorderConversions($event.base, $event.prevIndex, $event.currentIndex)"></hz-base-convert-tile>
    }
  </div>
  }
</div>
