@use '@angular/material' as mat;

:host {
  width: 100%;
}

.hz-banner {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  padding: 0.75rem;
  width: 100%;

  align-items: center;

  border-radius: var(--mat-sys-corner-small);
}

/** BANNER COLORS */
.hz-banner.base {
  background-color: var(--hz-sys-base-container);
  color: var(--hz-sys-on-base);
  border: 1px solid var(--hz-sys-base-border);
  border-left: 4px solid var(--hz-sys-base);

  @include mat.icon-button-overrides(
    (
      icon-color: var(--hz-sys-on-base),
      state-layer-color: var(--hz-sys-on-base),
    )
  );
}

.hz-banner.primary {
  background-color: var(--hz-sys-base-container);
  color: var(--mat-sys-primary);
  border: 1px solid var(--mat-sys-outline-variant);
  border-left: 4px solid var(--mat-sys-primary);

  @include mat.icon-button-overrides(
    (
      icon-color: var(--mat-sys-primary),
      state-layer-color: var(--mat-sys-primary),
    )
  );
}

.hz-banner.success {
  background-color: var(--hz-sys-success-container);
  color: var(--hz-sys-on-success);
  border: 1px solid var(--hz-sys-success-border);
  border-left: 4px solid var(--hz-sys-success);

  @include mat.icon-button-overrides(
    (
      icon-color: var(--hz-sys-on-success),
      state-layer-color: var(--hz-sys-on-success),
    )
  );
}

.hz-banner.warning {
  background-color: var(--hz-sys-warning-container);
  color: var(--hz-sys-on-warning);
  border: 1px solid var(--hz-sys-warning-border);
  border-left: 4px solid var(--hz-sys-warning);

  @include mat.icon-button-overrides(
    (
      icon-color: var(--hz-sys-on-warning),
      state-layer-color: var(--hz-sys-on-warning),
    )
  );
}

.hz-banner.error {
  background-color: var(--hz-sys-error-container);
  color: var(--hz-sys-on-error);
  border: 1px solid var(--hz-sys-error-border);
  border-left: 4px solid var(--hz-sys-error);

  @include mat.icon-button-overrides(
    (
      icon-color: var(--hz-sys-on-error),
      state-layer-color: var(--hz-sys-on-error),
    )
  );
}

/** CONTENT */
.hz-banner-display-icon {
  min-height: 1.5rem;
  min-width: 1.5rem;
}
