<mat-card class="base-tile">
  <mat-card-header>
    <mat-card-subtitle>
      Base {{ convertBase().base }}{{ baseNames[convertBase().base] ? ' (' + baseNames[convertBase().base] + ')' : '' }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="w-full flex flex-col my-3 gap-3">
      <mat-form-field>
        <mat-label>Convert</mat-label>
        <textarea matInput #conversionInput [(ngModel)]="convertInput" [charRestrict]="basePattern().regex" uppercase></textarea>
        <mat-hint>Character Count: {{ conversionInput.textLength }}</mat-hint>
        <mat-hint align="end">Characters: {{ basePattern().displayText }}</mat-hint>
      </mat-form-field>

      <mat-divider></mat-divider>

      <!-- Show Drag Handle for smaller screens -->
      @if(isSmallScreen()) {
      <div class="drag-list base-conversion-container" cdkDropList cdkDropListLockAxis="y" (cdkDropListDropped)="onDrop($event)">
        @for(base of convertBase().conversions; track base) {
        <div cdkDrag class="drag-box base-conversion-small flex flex-row items-center gap-1 p-1 rounded-md overflow-hidden">
          <div cdkDragHandle class="drag-handle cursor-move"><mat-icon>reorder</mat-icon></div>

          <mat-form-field class="flex-grow" floatLabel="always">
            <mat-label>Base {{ base }}{{ baseNames[base] ? ' (' + baseNames[base] + ')' : '' }}</mat-label>
            <textarea matInput #conversionOutput [value]="conversionMap().get(base) || ''" cdkTextareaAutosize readonly></textarea>
            <mat-hint>Character Count: {{ conversionOutput.textLength }}</mat-hint>
          </mat-form-field>
        </div>
        }
      </div>
      }
      <!-- Drag entire container on larger screens -->
      @else {
      <div class="drag-list base-conversion-container" cdkDropList cdkDropListLockAxis="y" (cdkDropListDropped)="onDrop($event)">
        @for(base of convertBase().conversions; track base) {
        <div cdkDrag class="drag-box base-conversion flex flex-row items-center gap-1 p-1 rounded-md overflow-hidden">
          <mat-form-field class="flex-grow" floatLabel="always">
            <mat-label>Base {{ base }}{{ baseNames[base] ? ' (' + baseNames[base] + ')' : '' }}</mat-label>
            <textarea
              class="cursor-move"
              matInput
              #conversionOutput
              [value]="conversionMap().get(base) || ''"
              cdkTextareaAutosize
              readonly></textarea>
            <mat-hint>Character Count: {{ conversionOutput.textLength }}</mat-hint>
          </mat-form-field>
        </div>
        }
      </div>
      }
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-icon-button (click)="onUpdateConversions()" matTooltip="Modify Conversions">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button (click)="onRemoveBase()" matTooltip="Remove Tile">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
