name: Deploy Horizon Client - STAGE

on:
  push:
    branches:
      - master
    paths:
      - 'client/**'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./client

    permissions:
      contents: read
      deployments: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24' # node:24-alpine
          cache: 'npm'
          cache-dependency-path: client/package-lock.json

      - name: Install Dependencies
        run: npm ci

      - name: Build Angular App
        env:
          ENV_CONFIG: stage
        run: npm run build -- --configuration=${ENV_CONFIG}

      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: 'horizon-client-stage'
          directory: 'dist/client/browser'
