name: Deploy Horizon Client - PROD

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./client

    permissions:
      contents: read
      deployments: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24' # node:24-alpine
          cache: 'npm'
          cache-dependency-path: client/package-lock.json

      - name: Install Dependencies
        run: npm ci

      - name: Build Angular App
        env:
          ENV_CONFIG: production
        run: npm run build -- --configuration=${ENV_CONFIG}

      - name: Deploy to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy "client/dist/client/browser" --project-name="horizon-client-prod" --branch="master"
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
