.status-banner {
  @apply w-full flex items-center gap-3 p-3;
  border-radius: var(--mat-sys-corner-extra-small) !important;
}

.status-banner mat-icon {
  flex-shrink: 0;
  min-width: 24px;
  height: 24px;
}

.status-banner--info {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

.status-banner--warning {
  @apply bg-yellow-100 text-yellow-900;
}

.status-banner--error {
  background-color: var(--mat-sys-error);
  color: var(--mat-sys-on-error);
}

.text-align-start {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-end {
  text-align: right;
}
